[2017-08-09 11:00] aidanholm commented on #415
Hey,

Generally, external applications can be spawned with `luakit.spawn(command)`. You could bind a key in `normal` mode to get the current/hovered URI and spawn "mpv {uri}" (or some other command that enqueues videos, possibly).

You could also bind a key in `ex-follow` mode to use hints---there's a bunch of different bindings for that already set up near the bottom of `lib/follow.lua`, so it'd

[2017-08-09 11:52] Asm1r commented on #415
That was easy, thank you!

And the wiki page is [this one](https://github.com/luakit/luakit/wiki/Play-embedded-video-in-external-player.)

[2017-08-09 12:06] aidanholm commented on #415
You're welcome!

[2017-08-09 12:07] #415 closed

[2017-08-09 12:21] aidanholm opened #417 "Error when detaching tab"
cc @Ygrex
building from 47b4088f1382d2e2d94f1d0310a8109910d01dee

1. running as ```$ ./luakit -Up tempo -v```, it opens https://luakit.github.io/luakit/ by default
2. press 'W' followed by Return, it opens new window with the same location
3. press 'D' there, the second window closes
4. press 'T' followed by Return, it opens new tab with the same location
5. type ':tabdetach' there it throws an ex

[2017-08-09 15:11] aidanholm commented on #417
Fixed at 99839d92

[2017-08-09 15:11] #417 closed

[2017-08-10 03:56] SolarAquarion opened #419 "Tests always fail with DEVELOPMENT_PATHS=0"
PASS style/test_widgets / test_widgets_use_macros
PASS style/test_common / test_no_globalconf_in_common
PASS style/test_source_format / test_vim_modeline
PASS style/test_source_format / test_lua_module_uses_M
PASS style/test_source_format / test_header_comment
PASS style/test_source_format / test_no_trailing_whitespace
PASS style/test_source_format / test_include_guard
PASS style/test_source_forma

[2017-08-10 03:58] SolarAquarion commented on #419
I think you need to add the version of it in the build directory

[2017-08-10 04:53] aidanholm commented on #419
Did you run tests with DEVELOPMENT_PATHS=1?

[2017-08-10 08:16] aidanholm commented on #391
Fixed at f7d39156

[2017-08-10 08:16] #391 closed

[2017-08-10 10:21] SolarAquarion commented on #419
no

On Aug 10, 2017 12:54 AM, "Aidan Holm" <notifications@github.com> wrote:

[2017-08-10 10:26] aidanholm commented on #419
That's currently required, although I should fix that so it works with DEVELOPMENT_PATHS=0.

[2017-08-10 14:01] aidanholm opened #420 "Luakit downloads doxygen HTML pages instead of viewing them"
I.e. docs in `docs/html`.

[2017-08-10 18:23] ghost opened #421 "Changing DOCDIR breaks :help"
I'm changing DOCDIR from "luakit/doc" to "doc/luakit", this breaks the in-application help in the 2017.08.10 release.

In general, on FreeBSD, all application documentation should go to `$PREFIX/share/doc/$PROGRAM/`.

Is this a bug or is DOCDIR not meant to be changed in future?

[EDIT] To be more accurage, only the ApiDocs are affected. The main help page and the Introspector are working.

[2017-08-10 20:55] lluixhi commented on #419
It's currently required to rebuild the entire package with DEVELOPMENT_PATHS=0 before testing them?
That wasn't the case in 2017.07.26 ...

[2017-08-10 21:17] SolarAquarion commented on #419
you can build it and install one time without it and then build with D=0

On Aug 10, 2017 4:55 PM, "Aric Belsito" <notifications@github.com> wrote:

[2017-08-11 03:07] aidanholm commented on #419
Tests have always required DEVELOPMENT_PATHS=1, not 0.
I have a mostly complete fix for this, should be finished soon.

[2017-08-11 03:10] aidanholm commented on #421
That makes sense. The API docs read the installed docs from the file system, with a hardcoded path relative to the installation directory.

Probably the only way to fix this is to add `luakit.docs_paths`.

[2017-08-11 04:13] aidanholm commented on #419
I've pushed a commit (1d5ae1d5) that fixes tests with DEVELOPMENT_PATHS=0; there may be a few errors (failure to open image files), but those are relatively harmless and shouldn't cause the tests to fail.

[2017-08-11 04:38] aidanholm commented on #421
Should be fixed at c32dc344

[2017-08-11 04:38] aidanholm commented on #420
Fixed at 90c4db37

[2017-08-11 04:38] #420 closed, assigned to nobody

[2017-08-11 04:38] #386 closed

[2017-08-11 04:39] aidanholm commented on #381
2--3 weeks of feature development, followed by a week of bug fixing, followed by a release.

[2017-08-11 04:39] #381 closed

[2017-08-11 04:44] lluixhi commented on #419
Thanks :)

[2017-08-11 08:59] groolot opened #423 "User's bindings lost since ae71dae3ae4545fde6e9a20d0364a56fed8dbb76 ; distribution bindings preempt"
Since the commit ae71dae3ae4545fde6e9a20d0364a56fed8dbb76, my user bindings writen in ~/.config/luakit/binds.lua are not active anymore, even if my rc.lua is loaded, parsed and used correctly.

The murder commit was find with the git bisect method.

[2017-08-11 09:07] groolot commented on #423
Then the last good version for me is the bb234a65.

[2017-08-11 09:11] aidanholm commented on #423
Hey @groolot!
I've changed the way bindings are changed. You don't need to keep a copy of the full binds.lua any more; instead, add/remove the binds you want from `rc.lua` or another file. Also, there's a slightly different API. Instead of using `key()`, `buf()`, etc., you use a string:
[code]
Sorry for the trouble, and let me know if you have any difficulties!

[2017-08-11 11:55] aidanholm opened #424 "@deprecated properties do not show warning in generated docs"

[2017-08-11 12:03] mensurdurakovic opened #425 "How to change about:blank page to custom local HTML file ?"
Since all wiki links are broken, I have no other way than this to ask question in title.

I have custom local HTML page that basicly shows one picture in full height and width inside body and I want to show that page instead of dull white color.

I tried to google solution I found nothing useful. Please help and thanks in advance!

[2017-08-11 12:07] aidanholm commented on #425
Hi, thanks for asking!

There's built-in support for doing that, sort of: the `newtab_chrome` module will display the HTML file at `~/.local/share/luakit/newtab.html`, and it can be set to open on new tabs; this is what I do. There are some problems using `about:blank`, which is why this uses a different URL. See https://luakit.github.io/luakit/docs/modules/newtab_chrome.html for more info, and le

[2017-08-11 12:51] aidanholm commented on #424
Fixed at 292f5cc2

[2017-08-11 12:51] #424 closed, assigned to nobody

[2017-08-11 12:54] aidanholm commented on #393
This one's done, at 210ce606

[2017-08-11 12:54] #393 closed

[2017-08-11 12:58] mensurdurakovic commented on #425
I am using older version of luakit and I don't want to update it, because all users use that specific version and I have no way to update it for all of them.

I managed to change background color with this piece of code I wrote inside webview.lua file:

[code]
but it is not enough because I doesn't load my picture, I have tried to change load string to

`"<html><body><img style='position_fixed;top

[2017-08-11 13:14] aidanholm commented on #425
Hooking onto that signal should also mostly work. That error message is WebKit preventing you from accessing local files on the `file:///` domain; to fix that you need to either upload your images somewhere, or convert them to data URIs and copy the data URI directly into the string you load with `load_string()`.

Separately; I strongly recommend you update to the latest version. Unless you are on

[2017-08-11 13:20] mensurdurakovic commented on #425
Thank you for response, do you have any example how to convert my picture file into data URI and set it into load_string() function ?

[2017-08-11 13:25] aidanholm commented on #425
You could try this one: http://dataurl.net/ It has a page on how to use it, and a converter; I have not tried it myself though.

[2017-08-11 13:46] mensurdurakovic commented on #425
Thank you, I will try!

[2017-08-11 13:46] #425 closed, assigned to nobody

[2017-08-11 15:07] aidanholm commented on #198
Hi, and thanks for reporting this!

 Currently, there's no urgent need to update jQuery, as there aren't any (known) bugs or performance issues affecting luakit's chrome pages. Additionally, I'm planning to refactor the chrome pages you mentioned and remove jQuery entirely in the process of doing so. This is because it's the only JS file in `lib/`, it's quite large, and it can be removed without a

[2017-08-11 15:07] #198 closed

[2017-08-11 15:39] aidanholm opened #426 "Add luakit.resource_path property"
- [x] This property will be a string, similar to Lua's `package.path`.
- [x] Will contain a `;`-separated list of resource directory paths
- [x] When luakit attempts to open a file at a relative path (e.g. image widget), it will make that path relative to each resource directory, and use the first match.
   - This makes it easy to fix the remaining errors in #419 (fixed)
- ~~`lousy.load` and simil

[2017-08-11 15:44] aidanholm commented on #376
Implemented with merge of PR https://github.com/luakit/luakit/pull/385!

[2017-08-11 15:44] #376 closed

[2017-08-11 16:07] ghost commented on #421
Works! Thanks!

[2017-08-11 16:07] #421 closed, assigned to nobody

[2017-08-11 17:06] hippi777 commented on #198
hi! :)

i couldn't test all of it out, the toggle works, but without animation, but i have no associated text editor, but can be a good start, i've seen there are other 3 files using jq, but currently i had time only for this much, but i think the rest will be this much easier if they are similar...

as it's not 100% the same as the original in function, test it twice :)

lib/introspector_chrome.l

[2017-08-11 17:21] hippi777 opened #427 "suggestion: use a customized webkit to overcome it's limitations"
i've tried to automatize a game (lol, took too much time and addictive X'D) but i couldn't set origin header for my script i wrote into the console (in firefox, because i still didn't move, but i think webkit have the same limits)

so to set headers, secure cookies and overcome whatever other limitations would be very good, and it would turn to be a real haxxor browser, and it would gain more user

[2017-08-11 17:32] SolarAquarion commented on #427
This browser uses webkit2gtk which is a pretty big project.  I don't think changing the Makefile would be good enough.  It would be absolutely massive undertaking which isn't good enough

[2017-08-11 17:42] aidanholm commented on #427
It's an interesting idea, but I don't think it's going to happen, for a few different reasons:

1. Luakit has only a handful of regular contributors; like @SolarAquarion says, there's no way we could hope to patch our own copy of webkit and keep it up-to-date. Plus, we'd need to be responsive with security issues.
1. Luakit uses whatever webkit2gtk libs are on the system. So there's no need for a

[2017-08-11 17:42] #427 closed, assigned to nobody

[2017-08-11 17:55] hippi777 commented on #427
@SolarAquarion:
fine, but in case of interest that could be the entrance point, i don't know if via environment variables oe whatever there could have a way around webkit2gtk and only modify webkit, but in worse case the whole stack can be compiled, maybe a separated makefile that can be triggered via options and targets can isolate that from those who don't need that...

@aidanholm:
yes, i know,

[2017-08-11 17:59] SolarAquarion commented on #427
WebKit2Gtk source code is the only way to modify WebKit. Curl can't do
everything

On Aug 11, 2017 1:55 PM, "szbnwer" <notifications@github.com> wrote:

[2017-08-12 05:33] aidanholm commented on #395
Plan of action:

- Move `unique` library to `luakit.unique`
- `unique` will be a proxy for `luakit.unique` that prints deprecation warnings, to detect outdated `rc.lua`.
- Move unique code in `rc.lua` to `lib/unique_instance.lua`

Should be done by today

[2017-08-12 05:53] aidanholm opened #428 "If startup fails, show window with error log"
- Without this, it's confusing when starting luakit from an application launcher doesn't work
- Shouldn't show error window if log output is a TTY

[2017-08-12 07:16] aidanholm opened #429 "Remove lua file system"
- Unavoidably pollutes the global name space

[2017-08-12 07:19] aidanholm opened #430 "Overhaul Lua library/class internals"
- currently the whole system uses a lot of metatable hackery
- it's difficult to add sub-libraries like `luakit.unique`
- system uses deprecated `luaL_register`; we'll continue to use Lua 5.1/LuaJIT, but should adopt better practices

[2017-08-12 07:53] aidanholm opened #431 "Add unreleased version changelog to website"

[2017-08-12 08:50] aidanholm commented on #395
Merged at ab9b4a9e; see <luakit://help/doc/modules/unique_instance.html>

[2017-08-12 08:50] #395 closed

[2017-08-12 09:25] aidanholm opened #432 "Add date-generated to news/docs on website"

[2017-08-12 09:33] aidanholm commented on #427
@szbnwer As you say, webkit is very interconnected and it's not feasible to replace individual components. You mentioned setting headers; it wouldn't be part of luakit, but you could always run a custom proxy on localhost that modifies requests/responses as you wish.

[2017-08-12 11:23] aidanholm commented on #338
### Problems
- It's unclear where the pinned "state" should be stored; it's not webview-specific and it's not really specific to a tab widget
  - Could convert `config/webview.lua` to a `tabview.lua` module, and store it there.
- ~It's unclear how pinned tabs should interact with session saving and restoring.~
### Todo
- [x] tablist: don't assume tabs are all the same size
- [ ] tablist: move max_

[2017-08-12 13:25] aidanholm commented on #419
Ok, this issue should be completely fixed now. @lluixhi I see you're packaging luakit for gentoo; thanks and let me know if there's any way to make that easier :)

[2017-08-12 13:25] #419 closed

[2017-08-12 13:28] aidanholm opened #433 "luakit://log/ spams errors after logging messages with \n"
Issue caused by incorrect conversion to JavaScript when doing live page updates.
[code]

[2017-08-12 14:23] aidanholm opened #434 "Undoclose: support reopening closed windows"

[2017-08-12 15:34] aidanholm opened #435 "Add globals.default_zoom_level"
@xkpd3 This would fix the reset-zoom bindings (`zz` and `=`) for you

[2017-08-12 15:46] aidanholm opened #436 "Support adding bindings to scroll events"
Fix for https://github.com/aidanholm/luakit/issues/409 re-adds support for simulating button 4 and 5 clicks, but this works intermittently when smooth scrolling.

In particular, smooth scrolling with control held down will mostly not do anything except scroll the page. Occasionally, however, the scroll delta will be exactly +-1.0, and a button event will be produced.

It'd be better to accumulate

[2017-08-12 15:53] hippi777 commented on #427
thx! that sounds good, probably wireshark can do the trick for https sites, it's maybe still not that easy task, but way much easier than my previous idea, aaand wireshark is lua friendly just as well :D

[2017-08-12 16:03] hippi777 commented on #338
if you mean under multi session more than one window, then it can be simply on the first opened window, or a simple option could say if something should be accessed from every instances; if it's multi user/setup thing, then i think a single user/setup can have it's own set, and i think shared components can be made, but i'm still not in the depths of codes to know...

and if it's possible to make

[2017-08-12 16:12] aidanholm commented on #338
By multi-session, I mean the ability to have multiple saved sessions: you could have a work session, a personal session, sessions for projects, etc. Part of the idea of pinned tabs is that they open automatically, even if you start a new session. It's not easy to reconcile that with multiple sessions:

- with multiple sessions, each session has to have its own set of pinned tabs
- therefore, when

[2017-08-12 16:21] aidanholm commented on #338
To clarify: pinned tabs roll up a bunch of concepts into one:

 1. They persist across sessions: in e.g. firefox, you open up a new session and your pinned tabs start open.
 2. They're small and they stick to one side of the tab bar: this is mostly just cosmetic and easy to do.
 3. They prevent you from closing the tab accidentally: also easy.

Re 1), If you have sessions, why would you need pinne

[2017-08-12 16:25] hippi777 commented on #338
sounds great, how would these be initialized? like luakit -s profile or something like that?

[2017-08-12 16:30] aidanholm opened #437 "Label, entry heights increase slightly with asian characters"
E.g. tabs, menu items, input bar will have different heights with text "Hi" and text "哈"

[2017-08-12 16:32] hippi777 commented on #338
possibly with vertical tabs the iconic tabs could fill up rows to save space, but everything is fine as you are saying it :)

i'm feeling the need more and more to finally migrate my stuffs to luakit asap just i have so few free time and i wanna learn much more before that, but i'm already spreading the verb that luakit is such a great matery out there :D

[2017-08-12 16:34] aidanholm commented on #338
- There'll be a lua module that you load in `rc.lua`, probably called `pinned_tabs.lua`.
- There'll be some default binds provided by that module for pinning and unpinning a tab.
- You start out with no pinned tabs. You `:open` a URL, and then press `tp` or something to toggle whether it's pinned.

I think filling up rows could be good to save space, but it could look weird if you resize the verti

[2017-08-12 16:45] hippi777 commented on #338
why could it look weird? it can be justified or there can be a bit homogene space next to it in case of size not matching, and when it's actually resized, then it can be reordered (if that is possible in runtime)

[2017-08-12 16:48] hippi777 commented on #198
@aidanholm did you check this out? if you like it then i can continue when i'll have time for it, these are simple and i don't have to know anything about the luakit internals to mess with these (and i hate jq (such overhead...) so i like to replace it with plain js in general :D )

[2017-08-12 19:31] aidanholm commented on #198
Not yet; will take a look tomorrow

[2017-08-12 19:34] aidanholm commented on #338
There's a few different ways they could be wrapped; but the best way is to try it and see what looks best of course. Yep, that's possible.

[2017-08-13 05:17] aidanholm commented on #109
Closing due to inactivity

[2017-08-13 05:17] #109 closed

[2017-08-13 05:55] aidanholm commented on #198
@szbnwer This looks mostly ok; I have a few comments but it would be easier to manage if you opened a PR

[2017-08-13 08:46] aidanholm commented on #435
Added at 29e842dc

[2017-08-13 08:46] #435 closed, assigned to aidanholm

[2017-08-13 09:08] aidanholm commented on #436
Implemented at 54138076

[2017-08-13 09:08] #436 closed, assigned to aidanholm

[2017-08-13 11:28] hippi777 commented on #198
done, i hope i did it right :D this is my 2nd pr, but if there is a better practice, plz let me know :D

[2017-08-13 12:03] aidanholm opened #439 "adblock: subscriptions state for disabled lists is mangled"
cc @xkpd3

### Steps to reproduce
1. Have at least one adblock list enabled; start luakit
2. Open luakit://adblock/ and disable the list
3. Restart luakit
4. Open luakit://adblock/: list state and action are now incorrect

![adblock](https://user-images.githubusercontent.com/10691965/29249463-977485c0-8062-11e7-99da-6aeb8c81dd34.png)

[2017-08-14 04:56] aidanholm opened #440 "Settings.lua: major configuration overhaul"
## Motivation

### - Add API support for a declarative configuration file: `settings.ini`
  - `:set foo` command that modifies `settings.ini` file
  - Simplified configuration for non-programmers and people who don't want to deal with Lua
  - `luakit://settings/` chrome page for changing settings (thanks @gleachkr)
  - Existing Lua APIs will still be there for doing more sophisticated configuratio

[2017-08-15 11:32] aidanholm opened #442 "lousy widget docs are not generated"
IIRC they were blacklisted for some reason

[2017-08-17 11:44] #439 closed, assigned to nobody

[2017-08-17 12:28] #442 closed, assigned to aidanholm

[2017-08-17 12:29] #433 closed, assigned to aidanholm

[2017-08-17 17:10] aidanholm opened #443 "Follow: sidebar links on http://musicfamily.org/realm/ incorrectly positioned"
Caused by JS-wrapping hack assuming elements IDs on page are unique

[2017-08-18 02:36] ghost opened #444 "Confused regarding keybindings"
Due to the fact that I started with firefox vim addons before I was using vim/vi all the time I am now dependend on my muscle memory with J,K for switching tabs, d and u for scrolling half page down and up, and I need to change these before anything else.
How do I actually change keybindings ? Where can I find the functions for gt , gT ?

[2017-08-18 05:59] aidanholm commented on #444
The easiest way to change keybindings is to use `modes.add_binds`. Here's an example snippet, for J and K:
[code]
Add that to your `rc.lua`, before the "End user script loading" comment. Or, if you have a `userconf.lua` you can put it there. This will automatically clear any previous bindings for J and K, if you have any.

The functions for scrolling by half-page are here: https://github.com/luaki

[2017-08-18 06:19] aidanholm commented on #444
Re your message on IRC, you don't have to rebind the original function; making a new one will work just as well. I'm moving towards having modules expose bindable actions as part of their public API, but there's a lot of architectural changes planned and it's taking a while for everything to settle into place.

And don't worry about opening an issue, questions are welcome too :)

[2017-08-18 10:13] #443 closed, assigned to nobody

[2017-08-18 10:33] aidanholm commented on #321
Will be easy with #440

[2017-08-18 13:03] ghost commented on #406
Is there any way I can set the sans serif font, the serif font and the monospaced font using this method ?

[2017-08-18 13:24] ghost commented on #444
Ohh, that was easy. Thanks. I have a few questions:

+ is there any way I can block gifs from displaying ? For some reason my old cpu goes 40% on some and I don't like the sound of that fan.
+ does         hardware_acceleration_policy = WEBKIT_HARDWARE_ACCELERATION_POLICY_ALWAYS in per domain view properties actually do something ?
+ is there a way I can set the same rule on multiple sites instead

[2017-08-18 13:36] aidanholm opened #445 "Some WebKitSettings properties are missing from webview.c"
- [x] `hardware-acceleration-policy`
- [x] `allow-file-access-from-file-urls`
- [x] `allow-universal-access-from-file-urls`

[2017-08-18 13:41] aidanholm commented on #444
- You could block gifs from displaying with a userscript, or you could block anything with a gif MIME type from loading with the [mime-type-decision](https://luakit.github.io/luakit/docs/classes/widget:webview.html#signal-mime-type-decision) webview signal.
- That property is missing, but shouldn't be; I've opened #445
- There's nothing built-in, but you can always script it.
- That looks like a t

[2017-08-18 13:43] aidanholm commented on #406
The [domain_props](https://luakit.github.io/luakit/docs/modules/domain_props.html) module has a bunch of `foo_font_family` properties; you can set those in the `domain_props.all` table.

[2017-08-18 15:07] ghost commented on #444
Ok thanks, I pretty much have luakit the way I want it now.

[2017-08-18 15:07] #444 closed, assigned to nobody

[2017-08-18 15:09] ghost commented on #406
Those don't seem to work, it's like this right ?

default_font_family = "xos4 Terminus",

[2017-08-18 15:11] aidanholm commented on #406
It should be exactly the same as CSS, I believe.
Re your question on IRC, there's a slight difference; a userstyle will override the font choice for a website, while these properties will define the default property, used for `sans-serif`, `serif`, etc. font families in CSS.

[2017-08-18 15:13] aidanholm commented on #444
You're welcome! Feel free to ask here or on IRC if you have any more questions :)

[2017-08-18 15:36] aidanholm commented on #444
@ahsis BTW I've added the hardware acceleration property now, should work like this:
[code]

[2017-08-18 15:37] #445 closed, assigned to nobody

[2017-08-18 16:23] aidanholm opened #446 "Move luakit://introspector/ -> luakit://keybinds/ or luakit://binds/"

[2017-08-18 16:28] aidanholm opened #447 ":tabdo should run commands without changing tab"
- The actual change to the `tabdo` command should be straightforward.
- There may be commands which use the currently visible tab notebook child directly, however, instead of using `w.view`; these commands will need to be modified.

[2017-08-18 16:42] aidanholm commented on #397
@DanielFGray you can now enable notifications for websites with the following:
[code]

[2017-08-18 16:42] #397 closed

[2017-08-18 16:54] #426 closed, assigned to aidanholm

[2017-08-18 17:49] gleachkr opened #448 "Fire beforeunload when closing tabs"
The JavaScript event `beforeunload` appears not to be fired when closing tabs and windows.

Possible fix: handle close requests with [`webkit_web_view_try_close()`](https://webkitgtk.org/reference/webkit2gtk/stable/WebKitWebView.html#webkit-web-view-try-close).

[2017-08-18 18:08] aidanholm commented on #448
This isn't too complicated to do, but it'll have to wait for `webview.lua` and `window.lua` to be moved into `lib/`; there's also API breakage, as now `close_tab()` et al will be able to fail.

[2017-08-18 18:39] aidanholm opened #449 "Add J/K as default tab-switch bindings"

[2017-08-19 15:36] aidanholm opened #450 "Add keybinding info to online documentation"
Currently you only get keybinding info if you use the built-in documentation browser.

Fairly straight-forward implementation: instead of modifying the doc HTML by inserting introspected binding information, parse it out of the modules, by extracting the Lua code for the bindings and executing it in a wrapper environment that provides stubs for `add_binds`/`add_cmds`. Most likely will have to wrap

[2017-08-19 16:24] schvabodka-man opened #451 "Make flatpak"
Hi! That would be nice if you'll make flatpak for app because right now installation is a little bit hard.

[2017-08-19 16:45] aidanholm commented on #451
Hi! Should be doable, perhaps after the next release I'll take a look

 I'm also happy to help with installation problems, and there's always `#luakit` on OFTC if you need help :)

[2017-08-19 18:55] schvabodka-man commented on #451
The problem is mostly with lua 5.1 and lua-fs package. Actually i installed it alright but in some distros there might not be luarocks for 5.1 or lua 5.1 at all

[2017-08-19 22:06] IWriteThings commented on #279
I am reopening this ticket as @aidanholm seems to imply that the upgrade to webkit2 should solve issues with hi-dpi screens. I may be misinterpreting but is there a way to get the screen to have what amounts to a x2 zoom at all times even on load? Some change to be made in config perhaps?

My resolution is 3840x2160 and I have extremely small text in luakit. Do we need to use the format fix provid

[2017-08-20 05:25] aidanholm commented on #279
You should be able to set `globals.default_zoom_level` to 150--200 or so.
The fix @myf mentioned will work but will also break follow mode, so I don't recommend it

[2017-08-20 13:25] IWriteThings commented on #279
Just fixed it using that exact method. I was exploring around with settings and changed my default zoom to 150.

For others -

* `cd ~/.config/luakit`

* `vi/vim/pico/edit ~/.config/luakit/globals.lua`

(If this file does not exist you can do the following)

[code]

* find 'default_zoom_level` and change it to 150-ish.

* Restart luakit

This is a single file change that is fairly simple.

I forma

[2017-08-20 13:49] aidanholm commented on #279
Glad it worked; this should probably go in the FAQ as well

And in fact, this issue is alreeady closed :P I'm not sure if anyone but the original opener (and luakit members of course) can reopen issues

[2017-08-20 15:00] schvabodka-man opened #452 "Possibility to setup custom font for browser UI"
Would be nice feature if there would be possibility to setup any custom font face(i.e fira mono or inconsolata). At the moment you can only setup font size and font family(i.e monospace or sans)

[2017-08-20 15:38] schvabodka-man opened #453 "Menu navigation buttons doesn't work out of the box"
I don't know why, but i can't navigate through menu with any keys if default luakit installation. I'm fixed it with this hack, but there is definitely some error. My luakit is from git master branch

[code]

[2017-08-20 15:45] schvabodka-man opened #454 "Function to switch scripts/plugins globally"
Hello again <). At the moment toggle_plugin and toggle_script are switching scripts and plugins per page. Would be nice if there would be some simple function to do this globally. Like for example toggle_scripts_globally. Something like this

[code]

would be very simple to implement and would do the job

[2017-08-20 17:10] ghost commented on #279
Also, you can copy and adjust `theme.lua` and use a bigger font to make the tabs and the input bar bigger.

[2017-08-20 20:08] aidanholm commented on #279
You can also set the theme/global variables directly from your `rc.lua`, without creating a copy of the whole file

[2017-08-21 00:51] aidanholm commented on #452
You can set theme variables in `theme.lua`:
[code]

[2017-08-21 00:52] aidanholm commented on #453
Thanks for reporting! I'll look into this.

[2017-08-21 00:56] aidanholm commented on #454
Hi :) You could set `domain_props["all"].enable_scripts`. There's no built-in function to do this, as it's the sort of thing that's easy for users to do themselves.

However, it may be possible in future versions (after #440 is merged) to cycle a setting between a set of values, which would make this very easy.

[2017-08-21 01:08] aidanholm commented on #453
Fixed! Thanks!

[2017-08-21 01:08] #453 closed, assigned to nobody

[2017-08-21 01:10] #423 closed, assigned to nobody

[2017-08-21 01:12] aidanholm opened #455 "Remove jQuery, and replace with vanilla JS"
Only chrome pages use JS.

[2017-08-21 12:55] schvabodka-man opened #456 "Live on-the-fly command autocomplete"
Hello there again. That would be really nice if there would be "real-time" autocompletition for commands and history as in qutebrowser(for example). That wouldn't be hard to implement. At the moment you already have autocompletition code. It's "fired" when user are pressing tab key. You just need to implement some listener that would "fire" autocompletition every time  input in luakit "command lin

[2017-08-21 13:17] aidanholm commented on #456
Hi! This is a duplicate of #297. I'll paste your comment there

[2017-08-21 13:17] #456 closed, assigned to nobody

[2017-08-21 13:22] aidanholm commented on #297
From @schvabodka-man:

[2017-08-21 13:29] aidanholm commented on #297
I think the best way to add the remaining features would probably be to just merge completion functionality into the command mode proper, as maintaining the separation is too hacky.

[2017-08-21 14:06] schvabodka-man opened #457 "Plugins in luakit-plugins repo are broken"
And i've fixed 3 of them(still can't fix user agent changer) and now they work nice with new api. It would be good if you'll merge this
https://github.com/luakit/luakit-plugins/pull/14

[2017-08-21 14:11] aidanholm commented on #457
Sorry, it seems I wasn't previously watching the luakit plugins repo! Thanks for taking the time to patch those up; I'll take a look at your work now.

[2017-08-21 14:26] schvabodka-man commented on #457
It would be nice if you consult me about some things(i don't know a lot about luakit architecture and api) and i should make user agent switcher work.
1) How do i access some file? In fact file from plugins directory
2) What is variable that store browser useragent and how to i get to this variable? Useragent switcher are refering to globals.useragent but it seems like it's fucked(i'm getting erro

[2017-08-21 14:36] aidanholm commented on #457
Sure, happy to help!
1. You can use the `lousy.util.find_*` functions to find the path to a file, and `lousy.load()` will load a file's contents.
2. Useragents are set from `globals.useragent`; if you're getting an error, you might have to add `local globals = require "globals"` first.

[2017-08-21 14:56] schvabodka-man commented on #457
Adding require global, getting global.useragent and this occurs

`Lua error: attempt to index global 'string' (a nil value)`

[2017-08-21 15:34] aidanholm commented on #457
That shouldn't happen... ever. What's the traceback?

[2017-08-21 15:38] schvabodka-man commented on #457
Sorry, mu fuck up, i forgot to import string. Ok. How do i load data from plugin directory? I don't see func for it in lousy.util and find_data doesn't work.

Update:
Okay, i managed to laod it in tricky way with
`util.find_config("plugins/uaswitch/ua_strings.lua")`
And now i'm getting nil error
`[    0.322618] E [core/common/lualib]: Lua error: bad argument #1 to 'rep' (string expected, got nil)`

[2017-08-21 15:47] aidanholm commented on #457
You shouldn't have to import `string`; it's a built-in global variable. The only thing I can think of is if you had something like `local string = nil` shadowing the global.

`lousy.util.find_config()` basically concats the path you give it with the config path. So the way you did it should work fine, and is the proper way to do this. What is the traceback for that error?

[2017-08-21 15:51] schvabodka-man commented on #457
It seems like it doesn't getting anything from global.useragent or something like that. I'm replaced it by just string and it is starting but i cant fix further errors when running browser and trying to switch user agent. Maybe i should commit some code i've managed to do yet and you take a look because i'm really bad in Lua?

[2017-08-21 15:56] aidanholm commented on #457
You could pastebin the output of `git diff` somewhere, that's probably easier

[2017-08-21 16:15] schvabodka-man commented on #457
transfer.sh/xiVHY/luakit-diff
Here it is.  Pretty dirty

[2017-08-21 16:17] Plaque-fcc commented on #457
Yeah, they are pretty out of date. Feels like @liuch could help rather more than I could.

On August 21, 2017 7:15:25 PM GMT+03:00, Ivan <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-08-21 16:32] Plaque-fcc commented on #457
And I'm still interested in letting this live, so feel free to make pull requests to luakit-plugins repo (there should be at least two of them IIRC)...

On August 21, 2017 7:15:25 PM GMT+03:00, Ivan <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-08-21 16:38] aidanholm commented on #457
@Plaque-fcc There is a PR, thanks to @schvabodka-man :) https://github.com/luakit/luakit-plugins/pull/14

Re `uaswitch.lua`; general comments, haven't ran tests yet:
- Lots of `local foo = foo` lines at the top; they should all be deleted
- Lots of global variables, e.g. `ua_strings = {}`. These should all be made fields of `_M`: `_M.ua_strings = {}`.
- The `ua_strings` file should just be moved i

[2017-08-21 16:40] Plaque-fcc commented on #457
Aidan, I was distracted, so I thought it was all about the repo I manage. Need to check the situation to stay updated. ^_^

On August 21, 2017 7:38:58 PM GMT+03:00, Aidan Holm <notifications@github.com> wrote:

--
J.K.

[2017-08-21 16:42] schvabodka-man commented on #457
User agents are a little bit out of date. Will it be ok if i would make you list of useragents for most of modern browsers, some exotic ones, consoles, phones/tablests and spiders and you'll update this shit by yourself because i don't have much time at the moment?

[2017-08-21 16:48] Plaque-fcc commented on #457
I was quite inconsistent writing this list (thought it can be a little start for later improvements) and most of the plugins. Still didn't rewrite adblock to utilize far more efficient algo and update subscription in background. But I'm gonna commit more.

On August 21, 2017 7:42:47 PM GMT+03:00, Ivan <notifications@github.com> wrote:

--
J.K.

[2017-08-21 16:51] aidanholm commented on #457
@Plaque-fcc No worries :) Commits are very-much appreciated! Note that I updated the adblock module extensively (lots of efficiency hacks) and it's the only version that will work with the new luakit's APIs, so take a look there before starting from the old version :) Some form of subscriptions updater would be very nice (`:adblock-update`?)

@schvabodka-man I think there's probably no need to hav

[2017-08-21 17:00] schvabodka-man commented on #457
Okay, here are small list of user agents for modern browsers. This may come in handy when you'll be pacthing it

[code]

[2017-08-23 10:44] aidanholm opened #458 "Change versioning to major.minor.patch"
### Pro
- Would better distinguish the nature of each release, relative to the one before it.
   - Has at least some relationship with the changes made to luakit: dates are very arbitrary
   - Provides immediate indicator of API stability
- More familiar format: most software uses major.minor.patch

### Con
- May break version number comparison
  - @xkpd3, @SolarAquarion is this likely to cause pa

[2017-08-23 10:50] aidanholm commented on #363
Flat-ish design:

1a) ![design_1_blue](https://user-images.githubusercontent.com/10691965/29616473-3c58df76-8844-11e7-9d49-ff40024e4c6c.png) 1b) ![design_1_purple](https://user-images.githubusercontent.com/10691965/29616474-3e0775f8-8844-11e7-847c-778a6796b726.png) 1c) ![design_1_dark](https://user-images.githubusercontent.com/10691965/29620766-70ee82a6-8851-11e7-884a-2851358b7ab8.png)

Slightly m

[2017-08-23 12:02] Plaque-fcc commented on #363
Nice but a bit faceless, I think. Can this Luna be, like, purple?

On August 23, 2017 1:51:01 PM GMT+03:00, Aidan Holm <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-08-23 12:37] aidanholm commented on #363
I chose blue because it matches the website, but I'll play around with it; feel free to post modifed versions too
Edit: added a purple variation too

[2017-08-23 15:11] SolarAquarion commented on #458
I doubt that it will cause major issues.  I mean I do just do git describe
--tag .... Add an epoch=2 and everything will work

On Aug 23, 2017 11:05 AM, "Aidan Holm" <notifications@github.com> wrote:

[2017-08-23 16:03] aidanholm commented on #440
Core functionality merged at 49da4372!

[2017-08-23 16:03] #440 closed, assigned to aidanholm

[2017-08-23 16:09] aidanholm opened #459 "Add luakit://settings/ chrome page"
Basically, a chrome page for viewing and modifying settings, similar to qutebrowser's `qute://settings`.

This would be made _much_ better with #461, which would allow saving changes over restarts.

[2017-08-23 16:12] aidanholm opened #460 "Add :set command, for changing settings"
Example usage:
[code]

This would be made _much_ better with #461, which would allow saving changes over restarts.

[2017-08-23 16:13] aidanholm opened #461 "Add support for persisting settings changes"
This should be a basic way for settings to be saved to disk, and then loaded and applied when luakit starts.

This improves modifying settings via the user interface: #459 and #460

[2017-08-23 16:15] aidanholm opened #462 "Document webview settings, add default values"
The settings and their default values should mirror the webkit settings they proxy

[2017-08-23 19:06] aidanholm commented on #363
I think part of the problem with these designs might be that the crescent moon is too thin; need to play around with it more

[2017-08-24 09:05] aidanholm commented on #390
Ok, it's moved!

[2017-08-24 09:05] #390 closed

[2017-08-24 09:06] aidanholm opened #463 "Change http://luakit.org references to https://luakit.github.io"

[2017-08-24 09:12] #463 closed, assigned to nobody

[2017-08-24 09:14] aidanholm commented on #452
Closing due to inactivity; feel free to reopen if you have more questions!

[2017-08-24 09:14] #452 closed, assigned to nobody

[2017-08-24 09:14] aidanholm commented on #454
Closing due to inactivity; feel free to reopen if you have more questions!

[2017-08-24 09:14] #454 closed, assigned to nobody

[2017-08-24 09:16] aidanholm commented on #333
Closing since this is no longer relevant with the removal of most settings files

[2017-08-24 09:16] #333 closed

[2017-08-24 09:18] aidanholm commented on #331
User report:
[code]

[2017-08-24 10:12] aidanholm commented on #338
Implementation problems so far:
- No way to have GTK's homogenous children ignore non-expanded children. This means that it'll be necessary to have two separate tab boxes: one for pinned tabs, the other for regular tabs.
- It doesn't seem possible to wrap children of a box widget, which would be nice when using vertical tabs. It would probably be necessary to wrap the GtkFlowBox widget

[2017-08-24 10:58] aidanholm opened #464 "Wrap webview widget in table, similar to the w table for windows"
### Motivation

`webview` lua module is a leaky abstraction. Actually, it doesn't bother trying to be an abstraction, and simply adds a lot of utility functions and signal handlers, as well as some `w:` methods.

This leads to unsightly hacks like the `wrap_widget_metatable` hack which intercepts **all** indexes of all widgets. This is brittle and bad for performance, but currently necessary.

[2017-08-24 11:00] aidanholm commented on #458
After discussion in `#archlinux` and confirming that a version switch won't cause major problems for packagers, the next release will be version 2.0.0.

[2017-08-24 11:00] #458 closed, assigned to nobody

[2017-08-24 18:01] aidanholm opened #466 "Chrome pages break when not using LuaJIT"
E.g. produces following output when opening `luakit://bookmarks/`:
[code]
- Exported functions are getting called with all-`nil` parameters.
- Does not appear to be caused by JS function bridge breaking; JS values are serialized and IPC is working fine.

[2017-08-24 18:15] #466 closed, assigned to nobody

[2017-08-24 20:16] jonas-schievink opened #467 "Errors in user-defined rc.lua don't show up in log"
To reproduce, simply make `~/.config/rc.lua` cause an error.

luakit logs the error to the console:

[code]

Since luakit will fall back to `/etc/xdg` in this case, it still seems to work, and there's no trace of the error in `luakit://log`, except that the message `Loading rc: /etc/xdg/luakit/rc.lua` now refers to the system `rc.lua`.

(I'm using the current `develop` version via the AUR package)

[2017-08-25 03:38] halocaridina opened #468 "globals.lua is deprecated - alternatives?"
Hi Aidan,

Just upgraded to luakit 2017.08.10-94-gc9b4f92a via the AUR and noted the following when starting luakit at the commandline:

[code]

I noted in the release notes for the 2017-08-10 release that:

and that globals.lua is no longer being sourced from rc.lua (the above came from me adding the code for calling it back to the latest version of rc.lua). From reading the docs, its not clear h

[2017-08-25 07:13] aidanholm commented on #468
Hey, and thanks for reporting!
The globals config module has been removed, in favour of a new settings API that does validation, among other things. There is a compatibility shim that is supposed to automatically load `globals.lua` on start up and tell you how to migrate (the "add the following" line), but you've hit a bug and this process is breaking. Thanks for pasting your globals file, that sh

[2017-08-25 07:21] aidanholm commented on #467
I'm not sure how easy this will be to do something about. If your custom config is breaking, the ideal fix is to fix the config, but I guess there's no real indication of the fallback, other than a slower start up time and none of the users settings loading.

This isn't easy to fix because luakit reexecs itself to load the fallback config. About the only way is to log a warning on start up that it

[2017-08-25 11:05] halocaridina commented on #468
Perfect, glad to have helped ID that there was a bug breaking the process and that including the globals.lua file proved helpful. I'm happy to do any testing if need, just please let me know.

I've downgraded to luakit 2017.08.10-25-gc2c17415 in the meantime since setting zoom_level = 1.5 is a must-have option.

[2017-08-25 12:08] ghost commented on #468
@halocaridina You can now set the zoom_level in `rc.lua` like this:
[code]
In issue https://github.com/luakit/luakit/issues/440 are a few more examples/details.

[2017-08-25 13:10] halocaridina commented on #468
@xkpd3

Great, thanks for pointing out issue #440. I quickly read it and the changes look promising (and apologies for not doing a search and finding it before posting).

Given that #440 is closed, I assume that use of a settings.ini file is implemented in luakit 2017.08.10-94-gc9b4f92a and I can/should start translating/transferring my $HOME/.config/luakit/globals.lua to a $HOME/.config/luakit/se

[2017-08-25 13:41] ghost commented on #468
No `settings.ini`. I have put all configuration into `rc.lua`
So both lines are in `rc.lua`. No other or additional file is involved.

[2017-08-25 13:52] halocaridina commented on #468
OK, thanks for the clarification. I'll go over #440 again this weekend for additional details and layout a plan for organizing my `rc.lua` for minimizing the impact of future upgrades.

[2017-08-26 06:48] ghost commented on #468
So - now as I have access to my home laptop, this is my full `rc.lua`. I have disabled some modules, so you may not want to blindly take this over.

Note that it is *not* loading `globals.lua`:
https://gist.github.com/xkpd3/07906cd31482a469c5e26b1957d66549

This is my settings block:
[code]

I tried to take over all configuration. Some of them are not working (yet?) or I chose the wrong object (wi

[2017-08-26 07:05] ghost commented on #165
Can you extract the emails from the list and write an announcement that the list is closed, but IRC is available and luakit is alive! This might bring some old users/contributers back.

[2017-08-26 07:32] ghost opened #469 "Regression: default_zoom reset after webkit crash"
This issue was previously fixed in https://github.com/luakit/luakit/commit/dafca7b0e5a30fda2c38a42120c39c8445aa24bb for issue https://github.com/luakit/luakit/issues/357 when the zoom domain props were used. With the new settings interface, setting: `settings.webview.zoom_level = 150` works fine, but a Webkit crash resets the zoom to 100.

So I assume Webkit related settings are not reapplied afte

[2017-08-26 08:55] aidanholm commented on #165
I don't think there's an active public archive, so there's no way to get the old emails, and there's no way to send to the list if the server is down.

[2017-08-26 08:56] aidanholm commented on #469
Thanks for reporting; should be simple to fix

[2017-08-26 10:19] aidanholm commented on #468
@halocaridina
- There's no `settings.ini` yet; that's #461. #440 was mostly brainstorming and listing use-cases for the new API.
- You shouldn't make a personal `settings.lua`, as it's a core module; just `require` it and then set properties on it, like @xkpd3's example above. Some property names have changed slightly, but the migration shim should tell you what the new names are (when it's fixed!

[2017-08-26 10:41] #469 closed, assigned to aidanholm

[2017-08-26 10:42] aidanholm commented on #469
This is actually a WebKit bug; the zoom should remain at 150%, and the `zoom_level` property stays at that value, but the actual rendered zoom level is reset. I added a patch which just reapplies the setting after a crash.

[2017-08-26 10:44] aidanholm commented on #468
@halocaridina That error should be fixed now! and @xkpd3 that might have been causing your problem with `load_etc_hosts`, so try that one again.

[2017-08-26 13:40] aidanholm commented on #467
This is fixed; thanks for reporting!

[2017-08-26 13:40] #467 closed, assigned to aidanholm

[2017-08-26 13:42] aidanholm opened #470 "Improve downloads page: add download speed graph"
Inspiration: http://i.imgur.com/Yr2py.png
cc @xkpd3

- Charts library:
  - Cross-browser support isn't needed
  - Can't require jQuery

[2017-08-26 14:23] halocaridina commented on #468
@aidanholm and @xkpd3 ,

Thank you both for your quick responses, they are much appreciated.

@aidanholm,

`luakit 2017.08.10-96-gf7cba0c4` appears to solve the globals.lua parsing issue since I was able to successfully start luakit and received the complete message of globals.lua being deprecated in the future and how to migrate options to the settings.lua API.  Thanks again.

@xkpd3,

Your rc.lu

[2017-08-26 14:33] aidanholm commented on #468
@halocaridina Are you setting that option before you `require "vertical_tabs"`? You have to set it after you require the module.

[2017-08-26 14:49] halocaridina commented on #468
@aidanholm,

Thanks for pointing that out. Lost track that I forgot to add the module load for vertical_tabs to the new `rc.lua`. Works like a charm now.

Looks like the eveything here has been covered so I'll close this issue.

Thanks again and the support is greatly appreciated.

Halocaridina

[2017-08-26 14:49] #468 closed, assigned to nobody

[2017-08-26 14:58] aidanholm commented on #468
You're welcome! Always happy to help :)

[2017-08-26 15:41] #462 closed, assigned to nobody

[2017-08-26 16:30] #400 closed

[2017-08-27 08:08] schvabodka-man opened #471 "Login in gog.com doesn't work(JS error?)"
Hello there. I've no clue why but when i'm attempting to login in gog.com just nothing happens(js enabled globally). it seems like there is some error in js engine

[2017-08-27 08:28] aidanholm commented on #471
Hello; I've played around with it a bit; try setting `soup.accept_policy = "always"` in your `rc.lua`.
That fixes login and signup for me; the downside is that all cookies are accepted (the default is to ignore third-party cookies). There's no way to set this setting on a per-domain basis.

[2017-08-27 08:42] aidanholm opened #472 "Webview settings: implementation details are exposed"
There's currently a distinction between `settings.foo` and `settings.on["all"].foo`, which is very un-user-friendly.
 - Implementation details should be hidden, which permits setting-specific implementations.
 - This is necessary to properly implement settings like `user_agent`; setting that when a webview commits is not going to work.
 - Should add `domain_specific = true / false / nil` option to

[2017-08-27 08:49] sionleroux commented on #363
What if the moon was part a sphere mesh usually used to represent the web, or some other kind of web-related imagery, for example Firefox has a fox around the world, and the old internet explorer icon had a blue letter e in a globe. So maybe replacing the earth in these ideas with the moon could be an idea. Like a web sphere, with a crescent moon. Not sure if that makes the icon too busy though, b

[2017-08-27 09:52] aidanholm commented on #363
@sinisterstuf That's a good idea; I did some playing around with it and came up with these:

3 ) ![globe](https://user-images.githubusercontent.com/10691965/29748745-2d1393ea-8b4f-11e7-930e-e05de4848c96.png)

4 ) ![globe2](https://user-images.githubusercontent.com/10691965/29748792-0b407eb2-8b50-11e7-92d2-b619c752ac10.png)

I'm not sure the first one is as good as the other ones though. It may be

[2017-08-27 09:57] Plaque-fcc commented on #363
Surely, this time I like the second one much more.

On August 27, 2017 12:52:21 PM GMT+03:00, Aidan Holm <notifications@github.com> wrote:

--
J.K.

[2017-08-27 09:59] schvabodka-man opened #473 "Make editor.editor_cmd = xdg_open the default"
It seems like now it just opens terminal window and runs command in it. It would be really better if it will just run command instead of running it from terminal. For example using any editor that works as gui app get really hard because luakit opens two windows(terminal and editor itself) and it's a bit messy

[2017-08-27 10:04] schvabodka-man opened #474 "Firefox sync server support"
Just a little suggestion. It would be awesome if there will be support for firefox sync(it's open source and it can be self hosted). It would be much more better in usability than syncing luakit bookmarks/history "manually" through syncthing or rsync scripts

[2017-08-27 11:28] aidanholm commented on #363
I think the second hybrid design is better as well. It's also a more portable concept: a crescent moon superimposed over a world map is easy to do in the style of any icon theme, and it's still easily identifiable. So it'd be easy to do a high-contrast version, a square version for a square icon theme, etc.

[2017-08-27 11:33] aidanholm commented on #473
You can set `editor.editor_cmd` to run a custom command: use `{file}` and `{line}` to include the file path and line number in your command.

The default does some autodetection to choose the right editor based on environment variables, but assumes a terminal editor; that could be improved. I'll mark this as a feature request.

[2017-08-27 11:40] aidanholm commented on #474
This would be cool, but it'd also be a major undertaking. I'm not likely to work on this myself, and I'd prefer it were a separate plugin (hosted on luakit-plugins), as it's likely to be a relatively large amount of code, and I'm not sure it'd be of benefit to most luakit users.

Firefox services docs here: https://mozilla-services.readthedocs.io/en/latest/
TOS here: https://mozilla-services.readt

[2017-08-27 14:00] schvabodka-man commented on #473
That's still a dirty hack. Would be a lot better if it would be coded into luakit(with possibility to choose for example between gui and ui). Most emacs users work in x11(plus there is sublime and atom) so it would be great improvement

[2017-08-27 14:26] aidanholm commented on #473
Hard-coding command strings for every possible editor and terminal emulator seems more hacky to me; they all have different command formats, and there are dozens of popular editors.

I forgot to mention before, but `editor` can be set to use `xdg-open` on the file to edit. This uses whatever editor you've set up, whether GUI or terminal-based. This doesn't allow starting editing at a specific line

[2017-08-27 14:28] aidanholm commented on #472
Added around d12222dd; the `on['all']` group has ben deprecated, and the function of some settings has been changed slightly.

[2017-08-27 14:28] #472 closed, assigned to aidanholm

[2017-08-27 14:39] schvabodka-man commented on #473
I was meant not a hard coding string for editors but running editor binary directly instead of launching terminal with command

[2017-08-27 14:42] aidanholm commented on #473
Oh I see; I agree that opening a terminal window _and_ an editor window sucks. You could try setting the following:
[code]
Perhaps this should be the default...

[2017-08-27 14:46] schvabodka-man commented on #473
Ok, that worked. now it opens directly emacs without bullshit terminal window. You REALLY should make it default

[2017-08-27 14:53] aidanholm commented on #473
Hm, yeah, I think you're right

[2017-08-27 15:04] aidanholm commented on #338
I'm going to postpone this for now, as I'm more interested in working on a settings UI, and this is going to take a while. If anyone wants to take this up, I'm happy to answer questions.

[2017-08-27 15:20] hippi777 commented on #363
hi there!

i think the original lua logo could be a better indicator for something with lua (so if someone can see only the logo, they will know it's a lua stuff)

my idea is to take right that earth image for a layer in the image editor, draw around the ground with straight lines connected with small dots, and where are more space, there can be other dots inside, so this makes an earth-like graph

[2017-08-27 15:50] aidanholm commented on #363
Hey :)

Sounds interesting, although it's difficult to tell what it would look like just from a textual description. Mockups welcome :) I'm concerned that it could lead to a design with lots of visual elements, which is something I'm trying to avoid. Ideally the new logo will be distinctive at all sizes, even at 16x16 (website favicon), and too much detail can make that difficult, even if it looks

[2017-08-27 16:37] aidanholm commented on #392
@gleachkr Actually I had to revert the PR, as it breaks the insert/passthrough mode notification and passthrough mode; e.g. `Ctrl-Z Ctrl-A` no longer works.

[2017-08-27 16:38] hippi777 commented on #363
i never had this consideration, about app vs lib but i think it could be meaningful, and even the kit name is like a lib of a toolkit, but knowing it's a browser, probably this is not in the head of the ppl... but probably could look good and not the 16x16px is the most important, that's enough to make it something like... it could be even more like a cool brand logo, but no offense for your idea,

[2017-08-27 16:42] gleachkr commented on #392
Rats. OK, I'll see if I can fix that.

[2017-08-27 16:49] aidanholm commented on #363
You're right about the name "luakit"; it does have that feel to it. Luakit is a well-known name though, so I wouldn't want to change it and lose that recognition. I rather like the name myself :)

I think a globe is something that would work well as the backdrop of the icon; it's a very easily recognizable shape/pattern, and it's easy to drop detail at lower resolutions and turn it into a blue cir

[2017-08-27 16:52] aidanholm commented on #392
Hm.. I think this might require some refactoring/overhauls. The use of `w:notify()` to indicate the current mode is a hack, and if you try to work around that, your patch will get really ugly.

I'm leaning towards adding a status-bar widget on the far left to indicate the current mode. Thoughts?

[2017-08-27 16:56] gleachkr commented on #392
Sure, seems reasonable. Might also be nice in principle to be able to have information in the status bar while also displaying a mode indicator.

[2017-08-27 16:59] aidanholm commented on #392
My thoughts exactly

[2017-08-27 17:15] aidanholm commented on #392
This isn't a high-priority feature by the way, so dont worry about getting it finished ASAP or anything. I'm much more interested in possibly squeezing a settings chrome page in before the next release; but after that I might take a look at this one myself

[2017-08-27 17:26] hippi777 commented on #363
fine i've let go my idea (rip), btw i wasn't about arguing on the name, thats fine :)

[2017-08-27 17:43] aidanholm commented on #363
You could always post a draft version :) yep, I know, no worries

[2017-08-27 17:47] aidanholm commented on #321
And now that #440 is in, it's not needed; youtube now works with the default UA and breaks with a chrome UA ¯\_(ツ)_/¯

[2017-08-27 17:47] #321 closed

[2017-08-27 18:53] ghost commented on #363
I started to draw myself, but I'm so bad at it. I actually had that idea of a moon, which looks like gear on the outside. Maybe with a "technical drawing" overlay, like helper lines. This could symbolize it's customizability.

[2017-08-27 19:39] ionor opened #475 "Is there a way to disable window decorations"
Is there a way to tell luakit not to use the gtk decorators (more specifically - the titlebar). I know there exists patches for GTK itself to remove or make the CSD optional. But i would prefer not to do that.

The obvious reason for my question is that i am using a tiling wm and the decorators are just a waste of space.

[2017-08-27 19:41] aidanholm commented on #475
Try adding this to your `rc.lua`:
[code]

[2017-08-27 19:44] ionor commented on #475
Works like a charm! Thank you so much :)

[2017-08-27 19:46] aidanholm commented on #475
You're welcome :)

[2017-08-27 19:46] #475 closed, assigned to nobody

[2017-08-27 20:08] aidanholm opened #476 "webview.user_agent inconsistently applied"
- Should probably bypass `view.user_agent` property and modify request headers.
- Need a way to sync domain-specific settings to web module.
  - ∴ need a way to query settings API for domains with custom settings

[2017-08-28 06:31] sionleroux commented on #363
Nice idea @xkpd3, I think if I understand you correctly, the shape is a crescent moon with gear teeth on the outside, like this:

5 ) ![moongears](https://user-images.githubusercontent.com/840466/29761673-b120170a-8bca-11e7-84e4-d9c9be0e8df0.png)

I just hacked this together quickly by putting squares roughly on the edge of a circle shape, because a sketch is easier to think about, to see if this

[2017-08-28 06:40] aidanholm commented on #363
Good idea, I've added numbers

[2017-08-28 08:01] Plaque-fcc commented on #363
Liked both what I mentioned before and №2.

On August 28, 2017 9:31:31 AM GMT+03:00, "Siôn Le Roux" <notifications@github.com> wrote:

--
J.K.

[2017-08-28 08:03] Plaque-fcc commented on #321
I guess they check if it's what it calls itself with their Google library in JS. Years ago I came to blocking their library with direct Adblock rule…

On August 27, 2017 8:47:49 PM GMT+03:00, Aidan Holm <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-08-28 09:57] aidanholm commented on #321
Which library would that be?

[2017-08-28 10:43] Plaque-fcc commented on #321
Need to warm up my old HDD or find out that thing again. Wait a bit.

On August 28, 2017 12:57:41 PM GMT+03:00, Aidan Holm <notifications@github.com> wrote:

--
J.K.

[2017-08-28 14:12] schvabodka-man opened #477 "Strange session saving behaviour"
When I'm quiting luakit through :quit command everything works nice and session is saving. When i'm just closing window with my WM nothing is saving and luakit is starting from home page at the next startup

[2017-08-28 14:55] Plaque-fcc commented on #477
And that's because by default Luakit ain't saving your session. That's how it was by design. Anything changed?!

On August 28, 2017 5:13:00 PM GMT+03:00, Ivan <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-08-28 15:09] schvabodka-man commented on #477
But why it's saving when i'm using :quit? How can i change this behaviour. This shit isn't documented

[2017-08-28 15:14] Plaque-fcc commented on #477
Oh, shift! This can be changed on command bindings.

On August 28, 2017 6:09:33 PM GMT+03:00, Ivan <notifications@github.com> wrote:

--
J.K.

[2017-08-28 16:57] ghost commented on #477
Session saving is a module. Just comment `local session = require "session"` in your `rc.lua`

This is mine, I have disabled sessions (and some other stuff)
https://gist.github.com/44da6401b2b0a58b9b5edb4f16e366b4

[2017-08-28 17:01] schvabodka-man commented on #477
I don't want to disable sessions. I want session to work when i'm closing luakit as regular frame in vm not only when i'm doing this through :quit command

[2017-08-28 20:35] aidanholm commented on #477
`:quit` won't save the session (but `:wq` will, maybe you meant that?) , and nor will closing via wm, currently. There could be a setting for this though.

[2017-08-29 07:25] parisni opened #478 "forms input ; tab"
Hey

I switched from 2015 version (ubuntu apt version) to the last github release.

I am not able able to go to next input when filling a form by typing "tab" or "Shift+tab"

Is this the normal behavior, I can read in the documentation that this should work

[2017-08-29 07:35] ghost commented on #478
No, this is not normal behavior. It was a bug that has been fixed with https://github.com/luakit/luakit/commit/e5f1d320026aebc8e6148f116a71783693241650. So it should not occur in the current 2017.08.10 release. It also should not happen if you compile luakit from the `develop` branch.

EDIT: see below, the bug exists in the 2017.08.10 release!

[2017-08-29 07:44] ghost opened #479 "zoom_level setting migration issue"
There is an issue with the zoom_level migration. I started luakit with an old configuration. This is the log output:

![2017-08-29 09_38_28-sdk wdfn34200346a_ _github_luakit](https://user-images.githubusercontent.com/663776/29809854-0af961f4-8c9e-11e7-93bb-f0ed61110d18.png)

In the old domain props settings, `zoom_level` has to be set as decimal value.
The new configuration requires percent. But t

[2017-08-29 10:06] aidanholm commented on #479
Thanks for the patch! I'm not sure what you mean when you say "this does _not_ fix the zoom level".

BTW `settings.on[".gif"]` etc. won't work; it only matches domains. Also, the image view should do this automatically now.

[2017-08-29 10:09] aidanholm commented on #478
Actually, e5f1d32 caused that bug; it was fixed with the revert of that commit at b22be9de, which is on `develop` but hasn't been included in a release yet.

[2017-08-29 10:27] jonas-schievink commented on #477
Here's how I've implemented this in my config:

[code]

[2017-08-29 11:09] ghost commented on #479
Yes, I know `settings.on[".gif"]` was back from the time when I experimented with the image zoom levels.

EDIT: reg. "this does not fix the zoom level":
The fix fixes the output in the warning. So it displays `settings.webview.zoom_level = 125` instead of `1.25`. But the zoom setting itself is untouched and remains `1.25`. So the push requests only fixes the log, not the browser behavior.

[2017-08-29 11:27] aidanholm commented on #479
I can't reproduce the browser behavior; with `default_zoom_level  = 125` in `globals.lua`, the conversion warning now shows the correct value ` ... = 125` and the browser is indeed at 125% zoom.

Do you mean the webview `zoom_level` property? While the `zoom_level` setting is a percentage (e.g. 125%), the widget property is still a factor (1.25).

[2017-08-29 13:58] jonas-schievink commented on #429
cc https://github.com/keplerproject/luafilesystem/issues/63

Sadly it looks like lfs isn't actively developed anymore, so this probably won't get fixed.

[2017-08-29 14:12] ghost commented on #479
I was talking about the domain prop zoom level, not the global one.

This one works fine (when not commented) and is translated correctly to `settings.webview.zoom_level = 150`
![image](https://user-images.githubusercontent.com/663776/29825853-e94ca664-8cd5-11e7-8133-2da2adbd77bd.png)

This one is the one I'm talking about here. It translates to `settings.webview.zoom_level` as well, but with valu

[2017-08-29 14:37] aidanholm commented on #479
Ah! Thanks - fixed :)

[2017-08-29 14:37] #479 closed, assigned to nobody

[2017-08-29 14:40] aidanholm commented on #429
Thanks for linking to that; as you say, it seems unlikely that it'll be fixed. I'd also be interested in removing lfs just for the sake of reducing dependencies.

[2017-08-29 16:11] #478 closed, assigned to nobody

[2017-08-29 17:17] schvabodka-man commented on #477
Thanks jonas, that helped.

[2017-08-29 17:28] schvabodka-man opened #482 "Open in new background tab"
Would be awesome if in right click menu there will be "open in new background tab" item.

[2017-08-29 17:32] aidanholm commented on #482
Main issue with this is i18n; the existing context menu items are provided by WebKit and are translated, but there's basically no i18n code in luakit yet, so any additional items will be in English.

[2017-08-29 21:12] jonas-schievink commented on #482
Just to provide a bit more information:

You can modify the right click menu from Lua by listening for the `populate-popup` signal of a webview. It's not documented, but the callback is supposed to return a list of tables like `{ text, action }` where action is the numerical value of one of the `WEBKIT_CONTEXT_MENU_ACTION_*` constants defined [here](https://webkitgtk.org/reference/webkit2gtk/stabl

[2017-08-29 22:12] aidanholm commented on #482
Close: signal handlers for `populate-popup` are supposed to modify the list of tables passed as the first argument; this lets multiple handlers incrementally modify the popup. The action can also be a function, or a table for a submenu.

The "open in new tab" action is defined by webkit, so it uses a numerical code, but it can be replaced with a function; any such function has access to the webvie

[2017-08-29 22:29] jonas-schievink commented on #482
Ooh that's very good to know, thanks!

[2017-08-30 07:24] ghost commented on #482
@schvabodka-man: Having this functionality in the context menu is a valid request, but I just wanted to check: You know that you can open tabs in background with a middle click? Because if it is just the functionality you're looking for, this is already there.

[2017-08-30 08:58] schvabodka-man commented on #482
I know, this thing is in a lot of browsers. But is still will be great if this will be presented in context menu

[2017-08-30 18:20] hofheinz opened #484 "Default settings can override custom settings (settings.lua)"
First of all thank you for your work on this! This is a really useful project!

About the issue: in `settings.lua`, function `S_get`, there is a problem when the default value for a setting is non-nil, but a custom setting (added with `settings.webview.xy = false` or similar) is false. In that case, the return value of `S_get` (which is `tree[k] or settings_list[k].default`) evaluates to the `*.de

[2017-08-30 18:59] hofheinz commented on #484
Sorry for the pull request, you were faster :-)

[2017-08-30 19:00] aidanholm commented on #484
Thanks, and you're welcome :)

Thanks for reporting this; it's one of the few annoying subtleties in the Lua language. And your PR is a neater solution, so let's merge that instead

[2017-08-30 19:09] hofheinz commented on #484
Great, thank you!

[2017-08-30 19:09] #484 closed, assigned to nobody

[2017-08-30 20:47] aidanholm opened #486 "viewpdf: opening file://.../foo.pdf results in spurious download"

[2017-08-31 06:05] aidanholm commented on #473
This one's fixed

[2017-08-31 06:05] #473 closed, assigned to nobody

[2017-08-31 06:07] aidanholm opened #487 "Refreshing adblock-blocked: page adds extra adblock-blocked: prefixes"

[2017-08-31 12:48] hofheinz opened #489 "Not possible to bind <Ctrl-Minus> (modifier key + minus key)"
Maybe more of a feature request than a bug: currently binding the key combination `<Ctrl-Minus>` (or `<Mod1-->` or similar, i.e., a modifier key pressed together with the minus key) seems not possible. The reason is how `lib/lousy/bind.lua`, method `convert_bind_syntax` works: it uses `util.string.split(b, "%-")` to split the key combination description, using "-" as a separator (and then fails wh

[2017-08-31 13:21] schvabodka-man opened #491 "Open in editor doesn't work well with emacs daemon + emacsclient"
For some reason when there is already one emacsclient opened open in editor do nothing(nothing happens). But if there is no working emacs clients it's opening new emacs client and everything works fine

[2017-08-31 13:54] aidanholm commented on #491
What is your `editor.editor_cmd`?

[2017-08-31 14:12] #449 closed, assigned to nobody

[2017-08-31 17:56] ionor opened #492 "Autohide statusbar"
There are some hints in the wiki regarding the statusbar and how to autohide it. But i am guessing that these are out of date and needs to be updated. I have tried using modes.add_bind and it .. kind of .. works.

[code]
It disappears after the keypress but turns on again after the inputbar closes down and sets the statusbar on again. What i would really like is the statusbar to be default off (i

[2017-09-01 09:14] #489 closed, assigned to nobody

[2017-09-01 10:48] jonas-schievink opened #494 "viewpdf should clear downloaded PDFs"
Currently, the viewpdf module downloads PDFs to the XDG cache directory (`~/.cache/luakit/viewpdf/`). They are never cleared automatically, so they can easily accumulate.

This can probably be solved by clearing the directory on startup.

[2017-09-01 11:50] hofheinz opened #495 "Compilation errors on OpenBSD"
Compilation currently fails on OpenBSD because
 - OpenBSD uses a very old gcc version (GCC 4.2.1 on OpenBSD 6.1) that doesn't understand `-Wunused-errors`
 - for the same reason, `#pragma GCC diagnostic`s inside functions are not supported (this causes trouble in `widgets/webview.c`)
 - OpenBSD's grep is different from Linux's, and the expression `grep -q "^Lua 5\\.1\\|^LuaJIT" in config.mk does n

[2017-09-01 12:16] Plaque-fcc commented on #494
Something reminds me you can have Luakit compiled with support of multiple instances running simultaneously. So this way seems good by default with some option / detection for alternative case.

On September 1, 2017 1:48:07 PM GMT+03:00, Jonas Schievink <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-09-01 12:45] ghost commented on #494
Idea: We could create a temporary folder based on the random characters used on the socket. So if the socket is `/tmp/luakit-ipc-924-NeghxvFwl4`, luakit could create a cache folder `~/.cache/luakit/NeghxvFwl4/` and this could be used by all plugins for temporary data. Ideally it would be removed when luakit is closed and the socket is removed. In case of errors, all folders could be removed on the

[2017-09-01 12:46] aidanholm commented on #495
@qbit any thoughts on this? Are you experiencing any problems on OpenBSD?

[2017-09-01 13:01] aidanholm commented on #492
There's some code in `lib/window.lua` that modifies the statusbar visibility, but this code has recently been made private. You could modify that file directly, but a more robust solution will probably require some API changes. I'll take a look tonight

[2017-09-01 13:08] aidanholm commented on #494
It's probably easier to just make a temporary directory for each luakit instance. Note that cache and temp are different concepts; the viewpdf would be better off using a temporary directory than a cache directory.

[2017-09-01 13:51] qbit commented on #495
@hofheinz are you on release or snapshots?

I think the `LUA_BIN_NAMES` change should go in.

Not super sure about the rest as i386 and amd64, the only two arches that luakit builds on currently (in snapshots), have switched to `clang` for base:

[code]

The  `#pragma`s will be ignored by `clang`, but at the same token, users would have to go out of their way to build with the old gcc.

[2017-09-01 14:01] hofheinz commented on #495
@qbit I'm on release (6.1), and I did not use your patches from ports when compiling. Ah, I didn't realize OpenBSD is switching to `clang`, yes, this changes things of course. So how about I change the PR to just the `LUA_BIN_NAMES` thing? (Or would this be something better placed in the ports patches?)

[2017-09-01 17:17] aidanholm commented on #495
I am happy to merge the `LUA_BIN_NAMES` (adding `luajit51` and the `-E` flag). I'd prefer not to mangle the code just to support old versions of GCC if an alternative compilation method is reasonably easy to obtain.

[2017-09-01 17:21] aidanholm commented on #492
@ionor Actually, one easy way to do this is to toggle the visibility of `w.bar_layout`, like so:
[code]

[2017-09-01 17:31] hofheinz commented on #495
Sure, makes a lot of sense. The commit/PR is modified.

BTW: what would be an appropriate place to suggest a feature? (I have implemented a tiny feature, but I'm not sure if it's reasonably useful to others and desired.) Open an issue? Email? IRC?

[2017-09-01 17:32] aidanholm commented on #492
Actually, that won't ever show the bar unless you explicitly show it; so things like follow mode will break slightly.

A better fix: make `w.bar_layout` visible when the input bar is visible, but hide it when the status bar is visible (unless you've toggled it to visible).

To do this, you'll need to add a `property::visible` signal handler to `w.sbar.ebox` as well as a key binding:
- In the key b

[2017-09-01 17:34] aidanholm commented on #495
Open an issue, usually, although IRC works as well :)

[2017-09-01 17:37] hofheinz commented on #495
Ok, thanks!

[2017-09-01 17:53] hofheinz opened #497 "Option to always show tab bar"
Feature (?) proposal: most other browsers always show the tab bar (even if only one tab is open). The only way I could come up with to have this in `rc.lua` is to force a `w.tablist.widget.visible = true` upon each `page-removed` and `page-added` signal. (This seems not very elegant, though.)

Perhaps a more elegant way might be to have a `window.always_display_tabbar` setting. (Drawback: this mig

[2017-09-01 17:59] aidanholm commented on #497
This seems interesting; I don't mind adding a setting for this, although I think  it would be better named `tablist.always_visible`.

Seems simple enough: register a setting, and query its value in `update_tablist_visibility()`; PR welcome and appreciated!

[2017-09-01 18:16] hofheinz commented on #497
Great! What would you say is cleaner: have the `tablist` widget register and query that setting (currently `tablist` doesn't `require "settings"` yet), or have someone else (`window`?) pass that setting as a parameter to the `tablist` constructor?

[2017-09-01 18:58] aidanholm commented on #497
I'd say `tablist` should do that

[2017-09-01 19:33] hofheinz commented on #497
I could not find any `tablist` or full settings documentation, so I didn't add anything there. Also, perhaps it should be noted that `lousy.widget.tablist` must be explicitly loaded/`require`d to have the setting available. (It's not enough to load `lousy`.)

[2017-09-01 22:38] jonas-schievink opened #499 "Complex / Large websites can permanently hang a web process"
Example: (**only click this link if you don't mind restarting your browser**) https://docs.rs/stm32f30x/0.5.1/src/stm32f30x/lib.rs.html

The link contains a few hundred thousand lines of generated code, which unsurprisingly freezes the tab. However, even after closing the tab, the assigned web process takes 100% CPU and causes other tabs to stay frozen until luakit is restarted.

Both Firefox and

[2017-09-02 09:25] aidanholm commented on #499
I haven't had a chance to try this link with luakit yet, but I recall one time when a web process went to 100% and stayed there: probably the same issue. I'm not sure how much we can do about this. Luakit runs some native code in the web process, so if it's luakit code that is running amok then it should be fixable; otherwise this would be a webkit bug.

It would be possible in the latter case to

[2017-09-02 09:28] aidanholm commented on #499
Should probably add this to the docs: a good way of checking whether something is a luakit bug or a webkit bug is to try to reproduce the issue with epiphany

[2017-09-02 12:35] jonas-schievink commented on #499
Epiphany works surprisingly well on the link above. It's still sluggish, but it renders the whole page and doesn't lock up at all after the page is fully loaded.

[2017-09-02 14:59] aidanholm opened #500 "Settings: add setting-changed signal"

[2017-09-02 15:11] aidanholm commented on #499
For me, luakit and epiphany perform about the same. Luakit rendered some of the page (line numbers and fixed header) while epiphany didn't render anything. Brief and unscientific testing showed that the runaway web process is eventually terminated. I'm going to mark this as not-our-bug. I had a quick search of the webkit bugzilla, but didn't find anything relevant.

[2017-09-02 15:21] aidanholm commented on #495
I've added a note to the website, and merged the PR; thanks everyone!

[2017-09-02 15:21] #495 closed, assigned to nobody

[2017-09-02 18:35] aidanholm commented on #363
Unless anyone posts something absolutely amazing (please do), I think I'll go with number 4. That's this one:

![globe2](https://user-images.githubusercontent.com/10691965/29748792-0b407eb2-8b50-11e7-92d2-b619c752ac10.png)

From here, I'll be mostly working to refine and tweak this design

[2017-09-02 18:37] sionleroux commented on #363
I also agree that this is the best so far. I've asked a designer friend of mine to to take a look, maybe they'll have a nice idea...

[2017-09-02 20:44] aidanholm opened #501 "Add descriptions to settings"
This one is really easy and requires virtually no code knowledge; it's just not very fun.

[2017-09-04 09:14] aidanholm commented on #497
There are docs at luakit://help/doc/modules/lousy.widget.tablist.html but no settings docs yet. I imagine most people will be setting settings through luakit://settings/ (when that's merged) so I won't require full documentation yet.

[2017-09-04 09:14] #497 closed, assigned to nobody

[2017-09-05 08:24] ghost commented on #446
Closed issue, I hope.

[2017-09-05 10:06] aidanholm commented on #446
Yep!

[2017-09-05 10:06] #446 closed, assigned to nobody

[2017-09-06 11:01] jonas-schievink opened #503 "`:adblock` should open a new tab"
`:help`, `:log`, `:downloads`, `:history` all open their chromes in new tabs, `:adblock` opens it in the current tab, which makes for a weird inconsistency. Should be a very easy fix.

[2017-09-06 11:03] jonas-schievink opened #504 "`:introspector` is broken"
Looks like #483 forgot to add a `:binds` command to open `luakit://binds` in a new tab. The old `:introspector` is still there and tries to open a chrome that no longer exists.

[2017-09-07 07:14] parisni opened #507 "Proxy trouble"
Hey I am using luakit from the dev branch (2017-08-02)

I do not have any problem when using a no-proxy connection at home.
However I get two troubles with my _enterprise proxy_:

1) when using the system proxy (set to a url + port) luakit works fine until some minutes of no using it. Then all links I click becomes "save as" and I am only able to download pages. Then the only work around I have is

[2017-09-07 11:02] #503 closed, assigned to nobody

[2017-09-07 11:02] #504 closed, assigned to nobody

[2017-09-07 11:07] aidanholm commented on #507
What is the proxy URI you are using?

It sounds like a problem with your proxy, to be honest. E.g. if your proxy isn't sending correct headers, that would cause the behavior you describe. You could try setting up a local proxy via a server you can ssh into with `ssh -D`, and see if that exhibits the same behavior.

Luakit doesn't support PAC (`FindProxyForURL`) because webkit doesn't support it :/

[2017-09-07 11:22] parisni commented on #507
Ok for the proxypac.

proxy URI = "http://\<ip\>:\<port\>/"

What is strange is that I am able to go into an url by specifing the url, but not able to search via ":opentab" or ":open".

Interestingly, when using curl from terminal, I need to log into luakit to refresh the proxy.

Does that looks like a proxy header problem ? I am not having any trouble with both firefox ore chrome.

[2017-09-07 14:42] aidanholm commented on #507
Try using `socks://` instead of `http://`; as far as I know, webkit only supports socks5, socks4a, and socks4 proxies. Using `socks://` will autodetect, but using `http://` might cause problems, and proxies of other types won't work at all, as far as I know.

I'm not sure what you mean by "log into luakit to refresh the proxy".

If the same proxy works fine with firefox/chrome, it's probably a lua

[2017-09-07 20:55] aidanholm commented on #501
Merged at 84c83380

[2017-09-07 20:55] #501 closed, assigned to aidanholm

[2017-09-07 20:55] aidanholm commented on #500
Merged at 1b3fe53d

[2017-09-07 20:55] #500 closed, assigned to aidanholm

[2017-09-07 20:56] aidanholm commented on #461
Added at fe74ba6a

[2017-09-07 20:56] #461 closed, assigned to aidanholm

[2017-09-07 20:56] aidanholm commented on #459
Added at a8343c04

[2017-09-07 20:56] #459 closed, assigned to aidanholm

[2017-09-09 11:07] hofheinz opened #508 "Funny search path for web modules"
I'm trying to load a custom (i.e., per-user, not system-wide) web module with `require_web_module("foo_wm")`. This command appears to look for `foo_wm.lua` and `foo_wm.so` in various system-wide locations (such as `/usr/local/share/luakit/lib/`) _and_ in the current working directory (i.e., in `./`).

However, it seems hard to have this command find a web module in, say, `$HOME/.config/luakit/`. (

[2017-09-09 12:42] parisni opened #509 "Open new tabs instead of new windows"
Hey

luakit provides tabs but I prefer to use an other windows manager.  Then I press "w" instead of "t" to open in a new windows.

Unfortunately, bookmarks does not provide a shortkey to be opened in a new window. Maybe there is many other features that do not provide those mecanisms too.

For now, I use "w" luakit://bookmarks to open it in a new window.

Does this new feature make sense ?

Thank

[2017-09-09 16:50] jonas-schievink commented on #509
You can just rebind any key to do what you want, that's the point of this browser. What additional feature do you need?

[2017-09-09 19:53] parisni commented on #509
that's right I will rebind. However I guess all action could be done in 3 way natively :
- same window
- new tab
- new window

[2017-09-11 01:35] aidanholm commented on #508
Sorry for the delayed response. The web extensions have the same default `package.path` as the main UI lua instance, and `require_web_module()` is just a proxy for `require` on the web process. So loading web modules from `~/.config/luakit/` should work just fine. I'll test it myself and get back to you.

Re security concerns; web modules are only slightly more capable of "doing bad things" than r

[2017-09-11 01:37] aidanholm commented on #509
Hey @parisni!
Perhaps you'd like a way to tell luakit to always open things in a new window, instead of in a new tab? So `:winopen` and `:tabopen` would both just open a new window?

[2017-09-11 02:47] aidanholm opened #510 "Follow mode can be broken by CSP"
E.g. on https://repology.org/: the stylesheet does not apply.
- Possible workaround: switch to user stylesheet in `select.lua`

[2017-09-11 03:01] aidanholm commented on #448
This one can be worked on now

[2017-09-11 05:46] parisni commented on #509
hey @aidanholm

that sounds good. Firefox does have such feature "open in all in a new windows" .
That would make sense with i3 I guess.

[2017-09-11 14:50] groolot opened #511 "Vertical tabs (vertitabs) breaks user bindings"
When activating the `vertical_tabs` module, user bindings stops.

[2017-09-11 15:55] groolot commented on #511
Sorry, it was an refreshing settings issue. But somewhat strange because `rc.lua` was not reloaded correctly after relaunching.

[2017-09-11 15:55] #511 closed, assigned to nobody

[2017-09-11 17:38] hofheinz commented on #508
Thanks for your answer! I played a bit around with `package.path`. It seems that `require` respects `package.path`, while `require_web_module` does not (at least not when I try to change `package.path` in `rc.lua`). The value of `package.path` when reading `rc.lua` is
[code]
(I compiled without `DEVELOPMENT_PATHS=1`, and the `CFLAGS` value from the make file output suggests it's really not there.)

[2017-09-12 08:58] ghost opened #512 "The webinspector does not work"
Pressing F12 issues a GTK accessibility warning. Pressing it again open a blank window titled "Web inspector".

`git bisect` leads to the commit 87a2307041a5bc65c009a9ffe9991f992395b53a.

[2017-09-12 22:36] aidanholm commented on #512
I can't reproduce this. When I press F12 on 87a2307, I get this warning, but the inspector opens after about a second:
[code]
This warning indicates an issue with WebKitGTK code, not luakit, and epiphany emits the same warning.

It's also 'impossible' for that commit to have broken the inspector...

What version of WebKitGTK are you using? Have you updated recently?

[2017-09-13 07:29] aidanholm commented on #508
I've pushed an update that syncs `package.path` and `package.cpath` to web processes. It'll only happen when web processes are first open (hooking assignments to `package.path` can't be done in a non-hacky manner), so you should set those paths before creating any webview widgets, or loading any modules that create any.

[2017-09-13 08:04] ghost commented on #512
I'm using webkit2gtk v2.16.6 (the latest version on arch repos).

The issue is solved when I revert the changes on this property: `["webview.allow_universal_access_from_file_urls"]`, but then it issues a warning saying that the changed property doesn't exist.

Also, I just found out that if I press F12 before the page is fully loaded, the inspector shows up.

I'm going to see how I could have crea

[2017-09-13 09:33] hofheinz commented on #508
Thank you, this works nicely! Now the search paths for modules and web modules are the same (and include `$HOME/.config/luakit` by default, even without explicitly setting up `package.path` in `rc.lua`). (I'm closing the issue then.)

[2017-09-13 09:33] #508 closed, assigned to nobody

[2017-09-13 12:48] aidanholm commented on #512
Ah, right, I can reproduce this now---thanks for reporting! The issue is the `webview.enable_developer_extras` setting, with a default value of `false`. The incorrect settings names which that commit fixes cause an error (not a warning), which interrupts the application of settings at page load, preventing developer extras from being disabled. If you fix the settings names, then developer extras a

[2017-09-13 15:51] schvabodka-man opened #513 "Tabs as windows feature"
Hi there. It would be really cool if there would be feature to open one window per one tab. There are lots of usecases for it(mostly switching tabs as regular windows with your wm and also for emacs users using Emacs WM they can treat their tabs in browser as regular Emacs buffers)

[2017-09-13 15:57] schvabodka-man opened #514 "Random freezes"
Just after a few updates of luakit(i'm using git version) i've got this issue. I'm just randomly getting freezes while using luakit(one freeze per 2-5 minutes, freeze lasts for ~5 second) and that's really annoying. I see no errors in luakit log. I really don't know what the source of problem is but it seems like something in luakit codebase messed up because i don't have this issue some time ago.

[2017-09-13 16:00] schvabodka-man commented on #491
Hello there. I fixed this problem by setting this variable to "emacsclient -c". In fact it's my $EDITOR variable of the system but for some reason luakit doesn't picking this variable up. I REALLY THINK that it's releated to shell i'm using(fish shell) which isn't compatible with bash and zsh. So you may notice this problem and maybe fix it

[2017-09-14 00:43] jonas-schievink commented on #509
@aidanholm Title of this issue is backwards

[2017-09-14 00:43] jonas-schievink commented on #513
Related: #509

[2017-09-14 04:34] aidanholm commented on #513
Yep, I think this is a dup of #509

[2017-09-14 04:34] #513 closed, assigned to nobody

[2017-09-14 04:46] aidanholm commented on #491
The editor is spawned with `luakit.spawn()`, a wrapper for `g_spawn_async`, which does not use the `$SHELL`, but uses `$PATH` to find the binary specified as the first argument; so I'm not sure why using fish shell would make a difference. I'll try installing fish and test it out.

The `editor.lua` module will use `$EDITOR` for some of the builtin `editor_cmd` values, but the new default is to use

[2017-09-14 13:52] parisni opened #516 "Error: page has more than one matchable form"
Hey

"za" -> saved login/password in page having multiple form ; chosing second  form pressing "2"
"zl" -> "Error: page has more than one matchable form"

Any way to say zl2 fill the second form ?

Thanks

PS the website is:  https://www.adum.fr/index.pl

[2017-09-14 15:16] schvabodka-man commented on #491
No, i'm getting nice x11 emacs window. Maybe i fucked up somewhere or it's not a problem with fish shell, but setting editor_cmd manually helped me. I want to also test how it will work with EXWM, but that's for later

[2017-09-16 05:15] aidanholm commented on #491
Ah, ok. I'll close this issue then if this problem is fixed; the default `editor_cmd` won't use `$EDITOR`, so this isn't a bug.

[2017-09-16 05:15] #491 closed, assigned to nobody

[2017-09-17 06:53] aidanholm commented on #516
Hi! Sorry for the slow response!

You can give each form profile a name (see luakit://help/doc/modules/formfiller.html) and then use `zL` to choose which profile you wish to use.

[2017-09-17 06:57] aidanholm commented on #514
That's unusual. You could try:

- running luakit with verbose or debug logging; that might show more information.
- using git bisect to find the first commit that shows issues

[2017-09-17 07:02] #512 closed, assigned to nobody

[2017-09-17 12:41] aidanholm commented on #487
Cannot reproduce

[2017-09-17 21:52] curioussavage commented on #451
I would vote for an AppImage instead. Looked into doing it myself but I am just starting to dabble in native app development so I am just about useless!

[2017-09-18 05:12] schvabodka-man commented on #451
AppImage doesn't have centralized repos plus flatpak is really more hassle free

[2017-09-18 05:17] curioussavage opened #517 "styles plugin doesn't seem to work"
I tried this theme https://github.com/StylishThemes/GitHub-Dark and It is not applied. Its possible that the issue is with their selector but I think thats unlikely since its popular and there are no bug reports in that repo.

I will try with another stylesheet tomorrow to confirm.

[2017-09-18 08:38] aidanholm commented on #517
What steps did you follow when trying to install this stylesheet?

While my version is probably slightly out of date, and has a few custom modifications, I have the same stylesheet (https://github.com/StylishThemes/GitHub-Dark/blob/master/github-dark.css), as a CSS file, installed as `~/.local/share/luakit/styles/github-dark.css`. It works fine.

[2017-09-18 08:46] aidanholm commented on #451
AFAIK, an AppImage is effectively just an executable file coupled with a mountable filesystem with all requirements. The major concern is being forced to respond to critical updates to webkit2gtk; any AppImage packager will have to dedicate themselves to releasing new updates promptly.

Flatpak has a whole bunch more features, which as the developer (not packager) doesn't really concern me, except

[2017-09-18 16:49] curioussavage commented on #451
For developer/packager or for users? Last time I looked into it flatpack requires you install their software before you can install any apps.

That said I would love it if luakit was offered in any form that is easier to install than compiling!

[2017-09-18 16:50] curioussavage commented on #517
I copied the themes css file to that same directory. When I run the `styles-list` command in the browser it shows the theme too.

[2017-09-18 16:50] curioussavage commented on #517
I looked at the in browser logs also. Shows the stylesheet was found. No error messages or anything.

[2017-09-18 22:38] groolot opened #518 "Menu icon not in xpm format"
Icons in the Debian menu system should be in XPM format.

While other image types (e.g. png images) appears to "just work", window managers are not "required to support them". Accordingly using non-XPM icons could break interoperability.

[2017-09-18 22:41] groolot opened #519 "Duplicate conffile"
The file is listed more than once in your debian/conffiles file. Usually, this is because debhelper (dh_installdeb, compat level 3 or higher) will add any files in your package located in /etc automatically to the list of conffiles, so if you do that manually too, you'll get duplicates.

[2017-09-18 22:44] groolot commented on #519
# Concern

- `etc/xdg/luakit/globals.lua`
- `etc/xdg/luakit/rc.lua`
- `etc/xdg/luakit/theme.lua`
- `etc/xdg/luakit/webview.lua`
- `etc/xdg/luakit/webview_wm.lua`
- `etc/xdg/luakit/window.lua`

[2017-09-18 22:46] groolot opened #520 "Architecture dependent file in /usr/share"
We install an ELF binary in the `/usr/share` hierarchy, which is reserved for architecture-independent files.

Refer to [Filesystem Hierarchy Standard](http://www.pathname.com/fhs/pub/fhs-2.3.html) ([/usr/share : Architecture-independent data](http://www.pathname.com/fhs/pub/fhs-2.3.html#USRSHAREARCHITECTUREINDEPENDENTDATA)) for details.

[2017-09-18 22:50] groolot opened #521 "Remove menu file if a desktop file is used for the same application"
[The Debian menu system](https://lists.debian.org/debian-devel-announce/2015/09/msg00000.html) is a duplicate of desktop usage.

So, just one of them.

[2017-09-18 22:56] groolot opened #522 "Unknown file in debian/source"
The source package contains a file in `debian/source/` that lintian doesn't know about: `gitpkg-deb-export-hook`. Currently the following files are recognized:

* `format`
* `include-binaries`
* `lintian-overrides`
* `options`
* `patch-header`

[2017-09-19 01:29] aidanholm commented on #520
Good catch; `luakit.so` should go in `/usr/lib/luakit`

[2017-09-19 01:31] aidanholm commented on #517
When you are on github.com, does the `styles-list` menu say that the stylesheet is Active or Enabled?

[2017-09-19 04:55] schvabodka-man commented on #451
For users.

[2017-09-19 05:04] curioussavage commented on #517
it says "enabled"

On Mon, Sep 18, 2017 at 6:31 PM, Aidan Holm <notifications@github.com>
wrote:

[2017-09-19 07:37] aidanholm commented on #517
Looks like there's a bug in the regexp group. In the CSS file, change the first `regexp(...)` to `domain("github.com")` as a workaround.

[2017-09-19 14:41] jonas-schievink commented on #487
I can reproduce this on current master

[2017-09-19 14:44] jonas-schievink commented on #487
Doesn't happen with all URIs, though. Try this one: https://www.google.de/aclk?sa=l&ai=&sig=&ctype=5&q=&ved=&adurl= (easylist should block it)

[2017-09-19 15:38] aidanholm commented on #487
Thanks, yep, that one works for me

[2017-09-20 03:49] aidanholm commented on #517
Fixed at 438ad81! Thanks for reporting @curioussavage!

[2017-09-20 03:49] #517 closed, assigned to nobody

[2017-09-20 21:29] lslvr opened #523 "Graphics corruption."
Hello. I've discorvered a bug in luakit that fires when I open a message dialog on [google hangouts](https://www.talkgadget.google.com). As soon as I open it the graphics in the tab in wich the webpage is loaded gets corrupted as seen on the images. I also noticed this happens with `uzbl-browser`, so I don't know if this issue is from WebKit rather.

I'm running it on Arch Linux x86_64.

- `luakit

[2017-09-20 21:50] jonas-schievink commented on #523
This happened to me on YouTube a few times as well. I think it's a WebKit issue, though.

[2017-09-20 22:37] lslvr commented on #523
@jonas-schievink I see. However, youtube runs smoothly. I don't se this anywhere else except for Hangouts.

[2017-09-21 08:08] aidanholm commented on #523
Thanks for the report! As @jonas-schievink says, this is a WebKit bug, and not luakit-specific. I did a search of the WebKit bug tracker, but didn't come up with anything obvious.

[2017-09-21 16:38] schvabodka-man opened #524 "Color faces for different modes"
I find that coloring status bar on different modes would be really awesome feature. For example when you're in insert mode bar colored with green background, when in visual with purple and etc. Qutebrowser has the same thing and it really helps to see visually what mode you're in now(sometimes you type text and than you see that you're in normal mode and you getting frustrated)

[2017-09-21 18:19] lslvr commented on #523
@aidanholm thanks for your fast responses. This is strange, because in chromium this doesn't happen. I know that chromium uses Blink, but as far as I know Blink is based on Webkit's code.
Maybe I can find some way to solve this. Thank you a lot for bringing luakit to life. A great app. ;D

[2017-09-22 03:32] aidanholm commented on #523
Blink's code has diverged significantly from WebKit's, and the Blink team probably have more resources than the people working on the GTK Webkit port. You could try asking on the webkitgtk IRC channel.

You're welcome :) let me know if you have any other problems!

[2017-09-22 03:32] #523 closed, assigned to nobody

[2017-09-22 19:19] hofheinz opened #525 "`del_word` in `readline.lua` not UTF8-aware"
The `del_word` function in `readline.lua` does not work as expected when the current contents of the line contain UTF8/wide characters. The reason is that `del_word` treats the position of the editing caret (which counts actually visible characters) directly as a character index to `string.sub` (which counts wide characters as several bytes/characters). To reproduce, use a UTF8 locale and enter ":

[2017-09-22 21:41] lowfatcomputing commented on #183
@vixus0 You need to switch to insert mode with `i` before you can copy text from a page with Ctrl-C

This is an awkward ux quirk and I often forget to hit `i` before Ctrl-C even though I am aware that need to do so.

Currently, luakit only switches to insert mode if you click inside a text box. Perhaps the most frictionless ui behavior here would be to switch to insert mode upon selecting text as

[2017-09-23 11:21] groolot opened #526 "Source is missing"
# Issue
The source of the file `lib/jquery.min.js` is missing. Lintian checked a few possible paths to find the source, and did not find it.

# How to fix it
Add it to `debian/missing-sources` directory.

[2017-09-23 15:52] groolot opened #527 "Changelog should mention nmu"
When we NMU a package, that fact should be mentioned on the first line in the changelog entry, using the words "NMU" or "Non-maintainer upload" (case insensitive).

[2017-09-23 15:55] groolot opened #528 "Missing license paragraph in dep5 copyright"
The files paragraph in the machine readable copyright file references a license, for which no standalone license paragraph exists.

Refer to https://www.debian.org/doc/packaging-manuals/copyright-format/1.0/ for details.

[2017-09-23 15:56] groolot opened #529 "Source nmu has incorrect version number"
A source NMU should have a Debian revision of `-x.x` (or `+nmuX` for a native package). This is to prevent stealing version numbers from the maintainer.

Refer to [Debian Developer's Reference](https://www.debian.org/doc/developers-reference/) section 5.11.2 (NMUs and `debian/changelog`) for details.

[2017-09-23 16:01] groolot opened #530 "tar errors from source"
`tar` produced an error while unpacking our source package. This probably means there's something broken or at least strange about the way the upstream `tar` file was constructed.

This is something about the way I used the `tar` from the git repository instead of the upstream release `tar` file.

[2017-09-23 16:05] groolot opened #531 "Remove debian/watch file"
Because the way Debian watch the releasing, we do not use it at the moment for the 2017.08.10

[2017-09-23 16:08] groolot opened #532 "Source contains prebuilt javascript object"
The source `tarball` contains a prebuilt (minified) `JavaScript` object: `usr/share/luakit/lib/jquery.min.js`.

Lintian please us to use `libjs-jquery`

[2017-09-23 16:12] groolot opened #533 "Debian changelog line too long"
The given line of the latest changelog entry is over 80 columns. Such changelog entries may look poor in terminal windows and mail messages and be annoying to read. Please wrap changelog entries at 80 columns or less where possible.

Concerned lines:

- [x] line 16
- [x] line 78
- [x] line 103
- [x] line 120
- [x] line 135
- [x] line 138
- [x] line 143
- [x] line 148
- [x] line 149
- [x] line 151

[2017-09-23 16:14] groolot opened #534 "Embedded javascript library"
This package contains an embedded copy of JavaScript libraries that are now available in their own packages (for example, JQuery, Prototype, Mochikit or "Cropper"). Please depend on the appropriate package and symlink the library into the appropriate location.

See #532

[2017-09-23 16:16] groolot opened #535 "Extra license file: usr/share/luakit/doc/COPYING.GPLv3"
All license information should be collected in the `debian/copyright` file. This usually makes it unnecessary for the package to install this information in other places as well.

Refer to [Debian Policy Manual section 12.5](https://www.debian.org/doc/debian-policy/ch-docs.html#s-copyrightfile) (Copyright information) for details.

[2017-09-23 16:19] groolot opened #536 "Script not executable: usr/share/luakit/lib/markdown.lua"
This file starts with the `#!` sequence that marks interpreted scripts, but it is not executable.

We should decide wether to **delete the shebang** or to **mark it as executable**.

[2017-09-23 16:21] groolot opened #537 "Spelling errors in changelog"
Lintian found a spelling error in the latest entry of the Debian `changelog`. Lintian has a list of common misspellings that it looks for. It does not have a dictionary like a spelling checker does.

Concerned words:
- ~~dependancy~~ instead of **dependency**
- ~~paramater~~ instead of **parameter**

[2017-09-23 16:28] groolot opened #538 "Desktop entry lacks keywords entry"
Our `.desktop` file does either not contain a `Keywords` entry or it does not contain any keywords not already present in the `Name` or `GenericName` entries.

`.desktop` files are organized in `key/value` pairs (similar to `.ini` files). "Keywords" is the name of the entry/key in the `.desktop` file containing keywords relevant for this `.desktop` file.

The `desktop-file-validate` tool in the `d

[2017-09-23 16:33] groolot opened #539 "Hardening no bindnow: usr/bin/luakit and luakit.so"
We provide an `ELF` binary that lacks the `bindnow` linker flag.

This is needed (together with `relro`) to make the *Global Offset Table* (`GOT`) fully read-only. The **bindnow** feature trades startup time for improved security. We should consider enabling this feature or consider overriding the tag (possibly with a comment about why).

The relevant compiler flags are set in LDFLAGS.

We have to

[2017-09-23 17:17] groolot commented on #527
Unrelevant because the package is not uploaded as an NMU

[2017-09-23 17:17] #527 closed, assigned to groolot

[2017-09-23 17:18] groolot commented on #529
Unrelevant because the package is not uploaded as an NMU

[2017-09-23 17:18] #529 closed, assigned to groolot

[2017-09-23 18:07] groolot commented on #531
By the way we are numbering the version, the Debian watcher `uscan` cannot determine the next release based on the previous number.

So we can't use the `debian/watch` file.

[2017-09-23 19:03] groolot commented on #519
So we just have to remove the `debian/conffiles`

[2017-09-23 19:05] groolot commented on #518
As the `debian/menu` is no more used, we can forget about it.

See #521

[2017-09-23 19:05] #518 closed, assigned to groolot

[2017-09-23 22:21] groolot opened #540 "Version numbering to semver"
When following the old numbering fashion I think this should be done better with semantic versioning.

As @aidanholm open the milestone 3 with a number `2.0.0`, I realize that it has been decided.

When do you think the new versioning will be effective? Because it will have an incidence on Debian numbering too.

[2017-09-23 22:27] groolot commented on #532
This should be closed by the #455 and #515

[2017-09-23 22:28] groolot commented on #534
Should be closed by #515 and #455

[2017-09-24 06:55] aidanholm commented on #540
The new versioning will begin with the next release. I'm not sure when exactly that will be; it was planned to be earlier this month, but I've been extremely busy and haven't had much time to work on luakit recently.

[2017-09-24 11:44] aidanholm commented on #536
Fixed by removal of shebang, thanks!

[2017-09-24 11:44] #536 closed, assigned to aidanholm

[2017-09-24 11:48] aidanholm commented on #524
This is a good idea; I myself have a mod that colors the bar based on whether the page is secure or insecure. I think pentadactyl did something like that as well.

[2017-09-24 12:05] aidanholm commented on #525
I found one UTF-8 implementation of the string functions: https://github.com/starwing/luautf8. Code quality looks decent; we could consider adding this as a dependency if it proves useful.

I think the problem with `del_word` not considering wide characters is caused by the use of the `%w` group in patterns; this should probably be `%S` instead.

[2017-09-24 13:27] aidanholm commented on #520
Fixed! Sorry for the delay; @groolot does `luakit.so` also need +x?

[2017-09-24 13:27] #520 closed, assigned to aidanholm

[2017-09-24 13:41] groolot commented on #520
No. `luakit.so` does not have to be `+x`.

We canr emove it from `Makefile`

[2017-09-24 13:56] groolot commented on #540
So I wait a bit for the next release for the Debian packaging.

[2017-09-24 16:47] hofheinz commented on #525
Regarding `%w` vs. `%S` in `del_word`: yes, that seems to work. (I tried to check if the repository you mentioned somehow allows to redefine/extend `%w` to wide characters, but it seems this is not so.)

Regarding the `luautf8` repository: yes, that might come in handy in other places as well. Lua 5.3 has its own `utf8` functions, but the `luautf8` package appears to have extended functionality (e

[2017-09-25 02:25] aidanholm commented on #520
It's installed with 644 permissions at the moment, so I'll leave it like that

[2017-09-25 02:49] aidanholm commented on #525
`%w` matches any alphanumeric character, so that was a bug in the initial implementation of `del_word`.

I had a quick look at your PR, and the implementation looks good, but I'd prefer using a dependency that provides a full set of compatibility functions, instead of adding new functions as they become necessary, for these reasons:
 - it shifts the burden of maintenance
 - it makes it less likely

[2017-09-25 03:16] IWriteThings opened #542 "Latest Release - No Longer Loading in Hi-Dpi mode with zoom change in globals.lua"
What do I need to change in the rc.lua file to load in Hi-Dpi mode? The zoom method is no longer working on update.

[2017-09-25 03:19] aidanholm commented on #542
Try adding `settings.webview.zoom_level = 200` to your `rc.lua`, or changing the value `webview.zoom_level` on the settings page (`luakit://settings/`)

[2017-09-25 08:46] #519 closed, assigned to groolot

[2017-09-25 08:46] #521 closed, assigned to groolot

[2017-09-25 08:46] #522 closed, assigned to groolot

[2017-09-25 08:46] #528 closed, assigned to groolot

[2017-09-25 08:46] #530 closed, assigned to groolot

[2017-09-25 08:46] #531 closed, assigned to groolot

[2017-09-25 08:46] #533 closed, assigned to groolot

[2017-09-25 08:46] #537 closed, assigned to groolot

[2017-09-25 08:47] groolot commented on #534
Merge to #532

[2017-09-25 08:47] #534 closed, assigned to groolot

[2017-09-25 08:48] groolot commented on #532
Until th 2.0 release, if it is not soon enough, I will have to remove, for the debian package, the embeded jquery and depends our package to the libjs-jquery package.

[2017-09-25 08:55] hofheinz commented on #525
Thanks for the explanation! Ok, I'll use that package then and will update the commit later today. (Note: on OpenBSD, that package exists, but on Debian, the UTF8 package doesn't appear to exist. Is there any specific way to deal with this? I'm just mentioning this to avoid breaking Debian packaging somehow.)

[2017-09-25 08:59] groolot opened #543 "Embeded `markdown.lua` should instead be used from Debian package"
When packaging for Debian, policy is to embed the less. `lib/markdown.lua` is the same as what [`mardown.lua` Debian package](https://anonscm.debian.org/cgit/pkg-lua/lua-markdown.git/tree/markdown.lua) provide, with the exception of the bf61b7c6ca9e6d5b76d12434be0edcbecc6b7f8d

This is the same kind of issue as the #532 and #534

[2017-09-25 09:00] groolot commented on #543
Can we imagine a way to not embed it and depend on it (say in Debian)

[2017-09-25 09:09] groolot commented on #363
Can you push the design 4 source file?

[2017-09-25 09:10] groolot commented on #526
Merge to #532

[2017-09-25 09:10] #526 closed, assigned to groolot

[2017-09-25 09:34] aidanholm commented on #363
@groolot Uploaded as a text file because GitHub doesn't allow svg for some reason... [icon.svg.txt](https://github.com/luakit/luakit/files/1328967/icon.svg.txt)

[2017-09-25 09:36] aidanholm commented on #543
Eh, I guess it'd be possible to use a packaged version but wrap it with a small shim in `lib/markdown.lua`

[2017-09-25 09:38] aidanholm commented on #525
@groolot would know more than I about packaging for Debian, but if it's not already there as a package I guess the easiest solution is probably to embed it for the Debian package. Not really sure.

[2017-09-25 09:55] groolot commented on #525
Indeed, it seems to not be in the Debian archive.

If the embeded code was tested on Lua5.3 and our package depends on Lua5.1 make sure that `luautf8` do not break compatibility.

And then, while the needs are not provided as Debian packages, we have to embed them.

But we have to be aware of:
 - the package have to be incorporated as is
 - any change to the code should be done externaly when poss

[2017-09-25 10:00] groolot commented on #525
@hofheinz may want to package http://github.com/starwing/luautf8 for Debian as `lua-utf8` and then we just depend on it :smile:

[2017-09-25 10:02] aidanholm commented on #525
The dependency to be added is specifically designed to backport features to Lua 5.1, so there shouldn't be any such problems with 5.1 vs 5.3. It'd be nice if it were packaged for Debian, but it may be easier to just embed it for now. We won't need to make any changes to the new dependency, and we only need to add a single `.so` file from the dependency to our `lib/` directory (might need license n

[2017-09-25 10:25] hofheinz commented on #525
@groolot To be honest, I'd prefer not to (also, I haven't done any packaging before).

@aidanholm Not sure if this dependency will vanish for Lua 5.3: http://github.com/starwing/luautf8 provides much more than Lua 5.3's utf8 library. For instance, http://github.com/starwing/luautf8 provides a UTF8-aware `gsub` implementation. (Of course, we can also implement this on top of Lua 5.3 without externa

[2017-09-25 10:40] aidanholm commented on #525
Not sure what you mean by "vanish for Lua 5.3".

But now that I take a closer look, the GitHub page does say that it supports LuaJIT, but doesn't mention Lua 5.1... the AUR page mentions Lua 5.1 explicitly, however, so it should be fine; just need to test it.

[2017-09-25 11:33] aidanholm commented on #525
Hm, one problem with luautf8, at least on Arch, is that it requires luarocks as a build-time dependency, which isn't great. I don't particularly want to add more makedepends. Unfortunately, there aren't many great options here: there aren't many other comparable implementations.

[2017-09-25 11:34] hofheinz commented on #525
@aidanholm: With "Not sure if this dependency will vanish for Lua 5.3" I meant that if we use http://github.com/starwing/luautf8 now, then upgrading to Lua 5.3 does not make this dependency obsolete. (Lua 5.3 has some UTF8 support, but not to the extent that this external library provides.)

I wrote that because I had the impression that your comment that "The dependency to be added is specificall

[2017-09-25 11:38] hofheinz commented on #525
One option could be: implement some minimal version of `utf8.*` now (basically with only `utf8.len` and `utf8.offset`, this covers many cases already and can be/is done cheaply, with glib calls), and drop those when moving to Lua 5.3 at some later point. (The luautf8 library does provide much more, but I'm not sure we really need all that.)

(The difference to the current PR/the current situation

[2017-09-25 11:56] aidanholm commented on #525
Moving to 5.3 implies dropping LuaJIT support, which isn't ideal; luakit will stay on 5.1 for the forseeable future. The main advantage of having compatibility with 5.3 is that it's possible to use _other_ code that expects a (partial) 5.3 environment without modification.

I think your suggestion is probably the best option. It resolves all the packaging issues, and won't force us to break compat

[2017-09-25 12:47] hofheinz commented on #525
Ok, I'll try that. (`string.wlen`: I'll check for other uses of that function, and it's probably a good idea to have it around for a bit, in order not to break existing code, but yes, in principle I guess that should be deprecated.)

[2017-09-25 13:50] groolot opened #544 "`build-utils/getversion.sh` contains variable string that breaks pristine-tar"
# Context
When packaging for Debian, the packaging process base itself on the upstream tarball (called pristine-tar) that is repacked from the upstream branch.

# Issue
During the `git archive`, that is automatically called by the `gbp buildpackage --git-pristine-tar --git-pristine-tar-commit --git-upstream-tag='%(version)s'` the following error raised:
[code]

## Targeted file
The file `build-uti

[2017-09-25 16:04] IWriteThings commented on #542
Adding `settings.webview.zoom_level = 200` to the `rc.lua` did not work.

However, changing the webview.zoom_level under the settings page functioned perfectly for me. Thanks a bunch! I am going to open a pull request to update the readme with this information for other users.

[2017-09-25 16:09] IWriteThings commented on #542
I updated the readme file with a configuration update to help others who may run into this issue.

Thanks a bunch!
Aaron

[2017-09-25 16:24] aidanholm commented on #542
Adding `settings.webview.zoom_level = 200` to `rc.lua` should work; was there any error message?

Thanks for the PR! I've added some minor requests
 \- Aidan

[2017-09-25 20:02] IWriteThings commented on #542
There was no error message. It simply did not change the size of the text. I added the above text to my rc.lua and then I restarted the browser by closing it and reopening it.

[2017-09-25 21:30] curioussavage commented on #305
I would love to try to get it workin in macOS but I have no idea where to get the webkit2gtk-4.0 package been googling and I can't find anything. Not in brew or macports either

also missing javascriptcoregtk-4.0 but i haven't searched for that anywhere yet.

[2017-09-26 03:45] aidanholm commented on #542
Ah, I'm guessing you added it at the very end of `rc.lua`? You have to add it before the `End user script loading` comment, as the code after that opens the initial windows/tabs, and the setting is only reapplied after a page reload.

[2017-09-26 03:48] aidanholm commented on #305
MacPorts has `webkit2-gtk`, but it's currently outdated at version 2.14.2. JSCore shouldn't be needed (it's only used for webkit 1).

[2017-09-28 02:56] IWriteThings commented on #474
I would like to dissent and say that I would prefer we not allow any addition of anything that provides an inkling foothold to Mozilla.

[2017-09-28 12:08] schvabodka-man commented on #474
Firefox Sync 1.1(it's now Palemoon Sync) don't tie you to Mozilla services like FF sync 1.5 which requires Firefox Accounts

[2017-09-30 22:35] lostinlight commented on #363
Hi,
I came across this issue on Mastodon, and, though not a designer, decided to experiment a little.
Some sketches that came to mind:
6) ![logo ideas](https://gitlab.com/lostinlight/per_aspera_ad_astra/raw/master/luakit-concept/Luakit_ideas.jpg)

Colours are chosen randomly.
Uploaded png images and svg files [here](https://gitlab.com/lostinlight/per_aspera_ad_astra/tree/master/luakit-concept), in

[2017-10-01 14:44] aidanholm commented on #532
jQuery has been removed

[2017-10-01 14:45] aidanholm commented on #455
Done at 4672f3eb

[2017-10-01 14:45] #455 closed, assigned to nobody

[2017-10-01 15:24] #525 closed, assigned to nobody

[2017-10-01 16:19] spaeps opened #548 "Preserve private state for mouse binding"
Actually, by default, clicking with the middle mouse button on a link in a private tab follows the link in a non private tab, imho an unwanted behaviour.
https://github.com/luakit/luakit/blob/f2124f5f05d6052eb7482307eceb58f7d0e47da5/lib/binds.lua#L69
Preserving the private state by default would be better.
[code]

[2017-10-01 16:28] aidanholm commented on #548
Good catch, thanks!

[2017-10-01 16:28] #548 closed, assigned to nobody

[2017-10-02 12:30] #542 closed, assigned to nobody

[2017-10-02 12:52] aidanholm commented on #363
These look good! I'll probably stick with the same design as before, but these mockups show how the same concept can be made to work in a multitude of styles

[2017-10-02 13:46] lostinlight commented on #363
Great! If you ever need a design for an open source project, there's a wonderful initiative (perhaps you know about it) - [Open Source Design](http://opensourcedesign.net/jobs), where one can post a task and get pro bono help from the community. :)

[2017-10-02 13:58] sionleroux commented on #363
I really like these @lostinlight, probably my favourite style so far.

[2017-10-03 14:34] groolot commented on #532
This is a great news! Bravo!

[2017-10-04 13:52] nmeum opened #550 "eval_js errors on Alpine Linux"
On [Alpine Linux](https://alpinelinux.org/) the `eval_js` lua function seems to encounter an exception which can't be converted to a string. The following error message shows up when starting luakit:

[code]

Apart from that luakit starts at normal, however, when performing other activities such as scrolling more error messages show up:

[code]

These error messages are emitted by the function `lu

[2017-10-05 15:15] aidanholm commented on #550
I'm not sure why an exception couldn't be converted to a string. The JS used to update favicons and the scrolling widget is also very simple and shouldn't be throwing any exceptions.

Does this occur when opening `:javascript alert('test')`?

[2017-10-05 15:46] nmeum commented on #550
Yes, it does and the alert box doesn't show up.

[2017-10-05 15:50] aidanholm commented on #550
I should add that I can't reproduce this on Arch, but I'll try out an alpine VM when I have time

[2017-10-05 18:36] nmeum commented on #550
I am currently assuming that this is a bug in the alpine linux webkit2gtk package and not a bug in luakit itself. So don't prioritize this to high, I will figure this out eventually...

[2017-10-07 20:43] ghost commented on #363
Wow, I really like the dark version of c) @lostinlight

Also  - awesome that you saw my mastodon toot!!! :+1:

[2017-10-10 09:15] sionleroux commented on #363
Agreed, I'd definitely go for 6.b) or 6.c)
Although in the case of 6.b) maybe it would be even better without the grey outline on the moon?

[2017-10-11 13:34] #487 closed, assigned to nobody

[2017-10-11 18:45] petRUShka opened #552 "Not working usual keybinding for undo/redo in Insert mode"
Suppose I'm in insert mode writing some text within a textarea. I cannot use `ctrl+z` (which force luakit to pass-through mode) to undo my writings (or pasting or anything else). It's just not working.

Also usual binding `ctrl+shift+z` for redo doesn't work.

[2017-10-12 01:53] aidanholm opened #553 "Improved lua library namespacing"
In order to reduce the possibility of name collisions, luakit should only register a single major library, and other libraries should be registered under that. E.g:
[code]

[2017-10-12 18:14] aidanholm commented on #552
This one is strange; you can remove the binding (see luakit://help/doc/modules/modes.html#function-remove_binds for a code snippet) but the undo command still doesn't seem to work...

[2017-10-12 19:29] arcnmx opened #554 "settings.* always resolves to default values"
Example in rc.lua:

[code]
prints out `W [lua/rc]: 80 vs 200`

This makes most settings have no effect, whether set through `:set`, `luakit://settings` or `set_setting`. Only using `window.max_title_len = 200` works but doesn't persist and must always be executed on startup in rc.lua

[2017-10-13 16:26] arcnmx opened #555 "Select hints show more characters than necessary"
Follow hints are often not truncated to the minimum unique hint length, sometimes showing more characters than are necessary to hit. For example, a hint may show `va` but actually trigger upon hitting `v` because no other hints displayed start with `v`.

This seems to only happen with custom charsets, I'm not currently able to reproduce with the default numbers. Currently reproducing this with lab

[2017-10-13 17:24] aidanholm commented on #555
You need to wrap `s.sort(...)` in `s.trim()`; I've changed the documentation example

[2017-10-13 17:32] aidanholm commented on #554
This is because the `settings.foo.bar` API is for ephemeral settings only, and `set_setting()` sets a persisted setting (saved to disk). Reading a setting via `settings.foo.bar` should probably fall back to any persisted settings.

[2017-10-13 17:37] aidanholm commented on #554
Thanks for reporting! Fixed :)

[2017-10-13 17:37] #554 closed, assigned to nobody

[2017-10-13 18:35] arcnmx commented on #555
Perfect thanks!

[2017-10-13 19:03] aidanholm commented on #555
You're welcome :)

[2017-10-13 19:03] #555 closed, assigned to nobody

[2017-10-13 19:06] arcnmx opened #556 "Follow hints that use enter_cmd do not work"
Follow modes `;O` `;T` and `;W` all use `w:enter_cmd()` and are meant to put the browser into command mode with the target's URI prefilled. After hitting the keys to select a hint, command mode is never switched to and nothing seems to happen.

[2017-10-13 19:22] aidanholm commented on #556
Thanks! Fixed :)

[2017-10-13 19:22] #556 closed, assigned to nobody

[2017-10-13 19:23] arcnmx commented on #556
You are amazingly prompt at this, thanks!

[2017-10-13 19:54] arcnmx commented on #297
I'd like to add to this that the completion engine doesn't expose any way to extend it (`completers` is a local table, and there's no `add_completer()` sort of API). Each completer for the various modules is custom-implemented inside of `completion.lua`, which seems less than ideal - and also pulls in modules that the user may otherwise not have enabled (like history tracking, for example).

Not s

[2017-10-14 15:39] arkhan opened #557 "Binds like emacs"
Hello,

Its posible to add emacs alternative to binds

Thanks

[2017-10-15 17:53] arcnmx opened #558 "Error on window close"
The `window.close_with_last_tab` setting causes an error to trigger when using the window manager to close any luakit window:

[code]

Seems to not happen when closing the last tab and the window closes itself properly. Also does not happen with that setting `false`.

[2017-10-15 19:27] petRUShka opened #559 "Support for smart address bar (as Firefox, Chromium and etc already have)"
Suppose I have `http://site.com/dashboard` in browser history.

If I type `site` or `dash` and then press `TAB` I get `http://site.com/dashboard`.
But if I type `site dash` and press `TAB` I don't get `http://site.com/dashboard`.

In all modern browsers both options are possible. But unfortunately second one isn't working in Luakit.

P.S. [Firefox help for address bar](https://support.mozilla.org/

[2017-10-15 19:30] petRUShka commented on #552
Strange and pretty annoying bug :(

[2017-10-16 02:04] arcnmx opened #560 "Follow error when element is partially off edge of page"
Occurs when entering keys to follow an element that is mostly cut off by the edge of the window. An easy reproduction is the "Your Repositories" links on the github homepage, but also occurs with other items like the "Issues" tab at the top of this page if you resize the window just right. Resize the window horizontally so it's mostly cut off, then use `f` follow mode to try and click the link.

[

[2017-10-16 02:37] aidanholm commented on #560
Good catch; that function is a WebKIt API wrapper and defined to return `nil` if the point tested is not within the viewport. I can't remember why I added the clicking-the-center-element heuristic; possibly it was to fix sites that added click handlers to child elements or some such insanity. Thanks for the PR! I think it will work well enough :)

[2017-10-16 02:38] #560 closed, assigned to nobody

[2017-10-16 02:38] aidanholm commented on #560
Good catch; that function is a WebKIt API wrapper and defined to return `nil` if the point tested is not within the viewport. I can't remember why I added the clicking-the-center-element heuristic; possibly it was to fix sites that added click handlers to child elements or some such insanity. I think your PR will work well enough :)

[2017-10-16 03:52] aidanholm commented on #559
Thanks for reporting; this has been fixed now. Note that fuzzy matching is now word-based. So `site dash` will work, `si da` will also work, but `sitedash` _won't_ work; there has to be at least one space between URI parts to be matched.

[2017-10-16 03:52] #559 closed, assigned to nobody

[2017-10-16 12:45] leshy opened #562 "How can we support you?"
Hi,
Now that vimperator development has stopped, I'm guessing you'll get a big influx of new users,

I'd like to support your development (especially in the light of vimperator development I think there might be others as well) but for now I can't invest any dev time myself, maybe it would be nice if you had a patreon page?;

Thanks!

[2017-10-16 12:51] Plaque-fcc commented on #562
Hi,

  What about Vimium?

On October 16, 2017 3:45:11 PM GMT+03:00, lesh <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-10-16 18:11] arcnmx commented on #558
This error also seems to get triggered when using `:wq` with multiple luakit windows open.

[2017-10-18 03:46] aidanholm commented on #562
Hi!

While I'm very grateful for the thought, I'm not currently ready to accept donations for working on luakit, for a few different reasons.

First, there are many contributors to luakit, with more and more newer contributors recently. If I accepted donations, even in a general non-luakit context, a donation to me would be a de-facto donation to luakit, and I don't feel comfortable accepting dona

[2017-10-18 04:46] aidanholm commented on #558
Fixed; thanks!

[2017-10-18 04:46] #558 closed, assigned to nobody

[2017-10-18 04:48] aidanholm commented on #557
Hi! In theory it'd be possible to add support for this. It would require being able to buffer chorded key combos, which I don't think is currently possible.

[2017-10-19 14:39] arcnmx commented on #510
Noticed this on https://crates.io too, assuming it's the same issue?

[2017-10-19 15:04] aidanholm commented on #510
Yep

[2017-10-20 15:27] IWriteThings opened #566 "Error on make with latest develop"
When I ran make this morning to update luakit, I received the below error.

[code]

Have the requirements for luakit changed?

Looks like the error is

[code]

[2017-10-20 15:53] Sammyboy commented on #566
Which version of WebKitGTK do you have installed on your system? With version 2.18.0 it builds fine.

[2017-10-20 15:56] aidanholm commented on #566
I had removed support for webkit 2.16, but have temporarily added it back while I ascertain whether it is still receiving security updates; try pulling and building again, and it should work.

[2017-10-20 16:01] IWriteThings commented on #566
Works now. Thanks!

[2017-10-20 16:01] #566 closed, assigned to nobody

[2017-10-20 16:06] #562 closed, assigned to nobody

[2017-10-21 04:25] curioussavage opened #567 "Luakit 2017.08.10 following links not working sometimes"
I tried reddit and hacker news. On reddit It displayed the numbers by links but nothing happened after selecting one. On hacker news they didn't show up at all.

![luakiterrors](https://user-images.githubusercontent.com/7064600/31847999-aa707cec-b5dc-11e7-904d-984fdf0f92a8.png)

[2017-10-21 04:32] curioussavage opened #568 "Luakit 2017.08.10 adblock subscriptions bad filepath"
I noticed in the logs that it said the subscriptions file is not there but the file path in the log has an extra /

![luakit-adblock](https://user-images.githubusercontent.com/7064600/31848060-2fedcf90-b5de-11e7-9868-362f7f8458bd.png)

[2017-10-21 05:12] curioussavage commented on #568
submitted https://github.com/luakit/luakit/pull/569 to fix this

[2017-10-21 07:33] aidanholm commented on #568
Thanks, merged!

[2017-10-21 07:33] #568 closed, assigned to nobody

[2017-10-21 07:39] aidanholm commented on #567
I can't reproduce this. The logs indicate that the follow-mode state is becoming desynced with the select module state, for some reason. Do you remember what you were doing before encountering this issue?

[2017-10-21 10:16] aidanholm opened #570 "Finish work on luakit://settings"
- [x] Table setting types don't work yet (`window.search_engines`)
- [ ] No UI for adding domain-specific settings

[2017-10-21 18:44] curioussavage commented on #567
I tried It a few times and restarted the browser in between. I’m pretty sure this time I just started the browser navigated to Reddit and hit f and tried to select a link to follow.

If I can later today I will add some more logging in those functions.

[2017-10-22 11:26] aidanholm commented on #567
Do you have any changes to your rc file?

[2017-10-22 15:41] arcnmx opened #571 "Smart address completion is order dependent"
Using the example from #559, but with the caveat that "site" is not found in the page title: `http://site.com/dashboard <title>Dashboard</title>`

- `site dash<TAB>` expands as expected
- `dash site<TAB>` produces no results

[2017-10-22 15:49] aidanholm commented on #571
Are you suggesting that when completing a search term consisting of a set of words, they should match regardless of the order of occurrence?

[2017-10-22 15:53] arcnmx commented on #571
That is how the browsers I'm familiar with (firefox/chrome) handle it, where each term is treated as a separate keyword to match anywhere in the url/title. Usually they'll show both `url - title` and highlight/bold the relevant matching parts.

[2017-10-22 16:34] hippi777 commented on #571
+1 for this looser one - i can see that it can help to get back my lost points, but cant imagine too much overwhelming results if they are unordered, maybe a setup for ordering or not can be good for special needs... its not even a big difference to search in order anyway for the keywods but in the strict case there is an entrance point for the members of the filtered set (by the previous search f

[2017-10-22 16:41] aidanholm commented on #571
This shouldn't be too hard; it's just a matter of changing the SQL statement generation in `completion.lua`. Should probably use multiple `LIKE` terms. Not sure how the query optimizer is going to like that, but it should be fine. It'd be possible to add a `completion.webpage.search_mode` setting, with `order-dependent` and `order-independent` as options.

[2017-10-22 18:18] hippi777 commented on #571
uhmm i didnt think in sql, but in lua, btw i still have to learn much about sql :D

[2017-10-23 20:31] curioussavage commented on #567
No changes to my rc file.

Should add this is on a chromebook on an Ubuntu 16 based distro. I built from source. Don't see this issue at all on my desktop but I think I installed using apt there.

I tried adding a bunch of message arguments to the lua `assert` calls but It doesn't look like the application surfaces those messages.

[2017-10-23 20:38] aidanholm commented on #567
`assert` doesn't take a format string; you could add the following to rc.lua though:
[code]
This might also break horribly; didn't test it

[2017-10-23 21:07] aidanholm commented on #567
I would suggest logging the output of `debug.traceback()` at the entry points of the `enter`, `leave`, and `focused_hint` functions in `select_wm`, and examin the order in which they occur when you enter follow mode and follow the first link.

[2017-10-24 04:33] curioussavage commented on #567
How do I log? I tried to use the global `msg` table (info, verbose) but nothing gets logged in the app. You don't have to rebuild the app when the lua code changes right? I'm pretty sure the answer to that is no but I tried that just in case. Ran the app with the verbose flag.

[2017-10-24 04:34] curioussavage commented on #567
regardless the issue I see now is the `overlay` element is not there. Or at least the reference to it in lua is not ( I haven't opened the web inspector to try to check for it when that happens)

[2017-10-24 05:07] curioussavage commented on #567
oh boy. I didn't notice where it installed the libraries. so I was building and running the binary in the repo. Didn't realize the lua libs it was using were from the global install

[2017-10-28 09:24] aidanholm commented on #363
I've been playing around with 6b and 6c, and unfortunately didn't have much success in developing them from concept to usable icon :( I really liked the colours of 6b, so I used those to modify no 4, making it flatter at the same time:

![icon-lg](https://user-images.githubusercontent.com/10691965/32133123-19292bd4-bc04-11e7-9741-7153f74dcad3.png)

How it looks on the website:

![out](https://user

[2017-10-28 13:40] hippi777 commented on #363
heyy it became nice! :D how it looks like in 16x16 and 32x32? even if this question is not something that can be a reason to throw away anything, i rly like this one, and its hard to reach that point with my taste, so this is a big plus :D

[2017-10-28 13:53] hippi777 commented on #363
however it could be LuaKit instead of luakit, thats some selfappreciate for a great product that i still didnt make default

offtopic

cuz i have a new job without running like before, but i wanna make my installer for all my stuffz together included that will handle setups like installs of different lua variants different versions different apps and different compiler options; and mostly for upda

[2017-10-28 18:57] aidanholm commented on #363
16x16 and 32x32 are both fairly distinctive, but they'll most likely need separate source svg files. A 16 px icon is probably too small to have a drop shadow, for example: it'd take up pixels best used to make the world/moon clearer.

Re name style: I've been thinking about this for a while, and I'm not terribly fond of 'luakit', but I especially dislike 'LuaKit'; it just doesn't seem balanced to

[2017-10-28 22:15] rti commented on #509
Hi,

I did the following to open everything in a new window instead of a tab:

[code]

My changes are based on `window.lua` from `/usr/share/luakit/lib/window.lua` as installed by arch linux's aur package `luakit-git 2017.08.10.r181.g3ff1e33f-1`.

Disclaimer: This is my very first attempt to change luakit's stock behaviour. I might be doing it completely wrong.

[2017-10-28 22:33] aidanholm commented on #509
That's a perfectly acceptable way to mod luakit, as long as you're happy to manually update your patched file.

Your changes are a bit different to the change I had in mind, which is to check if there's already a tab in `w:new_tab()`, and if so to make a new window instead of a new tab.

A fully-fledged solution would have a setting, would hide the tab bar, etc. etc. There are probably going to be

[2017-10-28 22:45] hippi777 commented on #363
Luakit is already better, but LuaKit is nearer to programmers as it have a camelcase :D  - thats all i can say for that...

thats just my installer, its already working, just i wanna make it flexible and a complete tool for manage setups... current problems are to be sure if ive checked out sudo timeout it wont timeout when its used - just for change a text to display :D i cant decide if the right

[2017-10-28 22:46] hippi777 commented on #363
and sorry for the big off! :D

[2017-10-28 23:16] arcnmx commented on #509
[FWIW here is my own approach](https://github.com/arcnmx/dotfiles/blob/2a977f94616e57535eddf141072cc81e6a1b61f5/files/gui/.config/luakit/rc/ui.lua#L7) that doesn't modify luakit files directly.

[2017-10-29 08:38] aidanholm commented on #509
That's closer to the modding style I'd generally use, as it doesn't require manual merges of new changes.

I will probably eventually get around to working on including this in luakit properly, with a `window.tabs_are_windows` setting.

[2017-10-29 13:53] aidanholm opened #572 "External client for controlling luakit from scripts"
As a shell script and/or a lua module. Would communicate over DBus with the running instance of luakit, evaluate code in its lua state, and return the results.

Similar to awesomewm's `awesome-client`:
 - https://github.com/awesomeWM/awesome/blob/master/utils/awesome-client
 - https://github.com/awesomeWM/awesome/blob/master/lib/awful/remote.lua

Issues:
 - What modifications need to be made for t

[2017-10-29 19:24] maca opened #573 "Adblock possibly not loading rules"
Hi,

I tried using the adblock module on a fresh luakit install ,with the rules from easylist as suggested by the documentation. But no blocking is performed and the rules are possibly not loaded. I am attaching a screenshot of the adblock chrome page.

Steps to reproduce:
- I installed luakit from the aur luakit-git package
- launch luakit to generate `~/.local/share/luakit` dir
- quit luakit
[co

[2017-10-29 19:31] aidanholm commented on #573
This is caused by the subscriptions file not working correctly (not sure why...). To work around this, create a file `~/.local/share/luakit/adblock/subscriptions` with the line `easylist.txt\t\tEnabled` in it, except replace `\t` with a literal tab; so the name of the file, then two tabs, then "Enabled"

[2017-10-29 20:59] maca commented on #439
@aidanholm

Thanks! that did it, the file was empty before.

[2017-10-29 21:00] maca commented on #573
@aidanholm

Thanks! that worked, the file was empty before

[2017-10-30 14:39] arcnmx opened #574 "bad recovery_session prevents luakit from starting"
luakit seemed to get stuck in a state where there were no tabs/windows open but the process was still running (it was in a weird state where I couldn't open any new tabs/windows, but I updated the system's webkitgtk while it was running which may have caused it?). Killing it seems to have caused it to save an invalid `recovery_session` file that prevents it from starting at all. Ideally it should

[2017-10-30 16:04] aidanholm commented on #574
If you update the system's webkit while luakit is running, that has been known to cause weirdness. There's two things at play here:
 - luakit should (if possible) write session files atomically.
 - if a session file can't be loaded, it should have a suffix appended to it (`.corrupt-{timestamp}`?) so that you can recover its contents manually if necessary

[2017-10-30 17:08] arcnmx commented on #574
Renaming the session on failure to load sounds good to me! I'm not as concerned about the session itself being invalid, it can happen. In that particular case there was nothing open and no session to save, and who knows what happened when webkit started acting up - but more robust session saving would certainly help a bit too.

[2017-10-30 20:39] aidanholm opened #575 "Single-window no-tabs setting (with domain specific support!)"
Suggested by @xkpd3 in IRC :tada:

 - with this setting enabled globally, each instance of luakit can only have a single tab in a single window
 - with this enabled on a per-domain basis, if you already have a tab open for site, `:o` will affect the already-open tab
  - what about `:w`, `:t`, etc?

[2017-10-30 20:48] aidanholm opened #576 "Multiple instance support"
Also suggested by @xkpd3 :)

Currently luakit supports only a single global instance. It'd be great to have support for mulitple instances.

 - strings would be used as instance IDs.
 - would tie in with #572 and #575

Issues:

- how to handle command-line invocations of `luakit`? A new `-instance` param is possible, but necessitates hardcoding this functionality in C; it'd be nice to do it in Lua

[2017-11-02 14:51] arcnmx opened #577 "New windows trash X selection"
Under default configuration, windows opened with the `:winopen` command will automatically focus the status bar, selecting its whole contents (the newly opened URL). This replaces the current X selection/clipboard with the URL of any window opened.

[2017-11-02 15:22] aidanholm commented on #577
Fixed! I'm not actually sure why it was getting focused automatically, and it only seems to happen with the URL label widget for some reason.

[2017-11-02 15:28] arcnmx commented on #577
Yeah, I was trying to investigate what was causing it to get selected and couldn't find anything obvious. So quick, that did the trick!

[2017-11-02 15:42] aidanholm commented on #577
I suspect it's one of GTK's "helpful" auto-focus features... I simply made the widget non-focusable. If it pops up again, I may make all labels non-focusable by default...

Glad it's working for now though :)

[2017-11-02 15:42] #577 closed, assigned to nobody

[2017-11-02 21:26] deb75 opened #578 "unable to login"
Hello,

I am unable to login to some website with luakit, as an example coursera.org.

With firefox, when I try to sign in to this website, the current page freezes and darkens while a popup appears and asks me login/password.

With luakit, I just obtain the page freezing and darkening but no popup, so no possiblity to login.

This issue must happen on other websites with the same login page, how

[2017-11-02 21:35] aidanholm commented on #578
Hi!

Do you have Javascript disabled for coursera? With JS enabled, the site works normally. With JS disabled, I get what you describe: a dark page but no popup.

[2017-11-03 08:43] deb75 commented on #578
Hi!

Thanks for your fast answeer.

I do not master luakit yet :-) I do not know whether JS is disabled by default or not. I will check that.

Regards

[2017-11-03 11:50] aidanholm commented on #573
Thanks for reporting the issue; all fixed!

[2017-11-03 11:50] #573 closed, assigned to nobody

[2017-11-03 12:40] aidanholm commented on #567
Any luck tracking this issue down?

[2017-11-03 19:57] curioussavage commented on #567
I can't replicate it any more on my Chromebook after running `make install` again. So it seems something was left in a bad state in a previous install :man_shrugging:

[2017-11-05 21:45] aidanholm commented on #567
I'm glad to hear it's working again :) I guess I'll close this issue then, but feel free to reopen it if the issue reoccurs

[2017-11-05 21:45] #567 closed, assigned to nobody

[2017-11-06 08:14] ramboman opened #579 "Open files with a name containing spaces."
When I open a mhtml file containing a name with spaces in the command line, like this:

[code]

luakit sends the name into the default search engine, in this case Duckduckgo.

When I execute this command in luakit:

`:tabopen Git - Branches _ Atlassian Git Tutorial.mhtml`

or

`:tabopen file:///home/myusername/Git - Branches _ Atlassian Git Tutorial.mhtml`

The same thing also happens.

When I esc

[2017-11-06 08:32] ramboman opened #580 "Save a webpage to disk"
Sometime, I fill forms and before posting them, I save a copy of the page with the forms filled. If it is not forms, it can be maps from google or bing with specific zoom and location, etc. Maybe I did not see how to properly do it when I looked at the code.

The following features can be useful:
- Save page as: html only / html + other files / mhtml or mht / maff / pdf

[2017-11-06 08:45] ramboman opened #581 "Auto complete search engine"
Pentadactyl, when it was compatible with firefox, used to have these useful features:

1. When I typed the following command:

`:tabopen y<tab>`

The shown menu, came in 2 sections:
- search engines: youtube, yahoo.
- links

2. When I typed the following command:

`:tabopen duckduckgo git<tab>`

There is a menu that contains the duckduckgo search suggestions, and the proper search term (e.g. githu

[2017-11-06 12:27] ramboman opened #582 "package.path order"
I do not know if I am configuring luakit correctly, but I was trying to override `/usr/share/luakit/lib/window.lua` with `${XDG_CONFIG_HOME}/luakit/window.lua`. It worked when I executed luakit in `${XDG_CONFIG_HOME}/luakit`, but not outside of it.

I did the following command in luakit:
`:lua w:notify(package.path:gsub(";","\n"))`

and I got the following output

[code]
In order for the normal us

[2017-11-06 15:02] aidanholm commented on #582
The current order is intentional; this makes overriding built-in modules a strictly opt-in decision. This permits changes to these modules which would break compatibility if overriding them were "officially supported".

You can still change `package.path` to give precedence to user modules, but you may experience regular breakage if you're using the `develop` branch.

[2017-11-06 15:04] aidanholm commented on #580
If you want to be able to automatically fill forms, the formfiller module does that. Otherwise, there is the `:dump` command for saving pages as HTML.

[2017-11-06 23:19] aidanholm commented on #581
I think this would be a good addition to the autocompleter. What would be even nicer is if completion for `duckduckgo` would show previous search terms, but that could take a bit more work.

[2017-11-06 23:21] aidanholm opened #583 "bookmarks: use existing tab for :bookmark, and don't add dups"
- If there's already a `luakit://bookmarks/` tab open, that should be used instead of opening a new one
- If there's already a bookmark for the given URL, `:bookmark` should edit that bookmark instead

[2017-11-07 02:06] ramboman commented on #581
Showing the previous search terms is a great idea. It is available firefox mobile and it is convenient.

I was thinking about what I said regarding the `<enter>` that updates the command bar for further typing. It can be even faster if the `<enter>` stayed for executing the selected suggestion, but to also have an other key to update the command bar instead. That way if the selected suggestion is

[2017-11-07 02:17] arcnmx opened #584 "Unable to search for "default""
The `default` search engine is also considered a keyword, which prevents searching for anything starting with the word "default" (unless you search for `default default` I guess...)

Is it reasonable to simply blacklist this as a search keyword?

[2017-11-07 15:30] amosbird opened #585 "How can I move tabbar to the left"
This is what it looks like in qutebrowser when tabbar is on the left

![img-2017-11-07-232805](https://user-images.githubusercontent.com/5085485/32501680-3f811034-c39e-11e7-8e16-c102d3372626.png)

Is it possible in luakit now? thanks!

[2017-11-07 23:38] aidanholm commented on #585
Hi! Just add `require "vertical_tabs"` to your config, and restart.

[2017-11-07 23:39] aidanholm commented on #584
Thanks for reporting; blacklisting it is a good idea, I'll do that.

[2017-11-08 01:19] aidanholm commented on #584
Fixed!

[2017-11-08 01:19] #584 closed, assigned to nobody

[2017-11-08 01:42] amosbird commented on #585
Thanks!

[2017-11-08 01:42] #585 closed, assigned to nobody

[2017-11-08 08:28] aidanholm opened #586 "modes.remap_binds should use two-pass method"
I.e. should first retrieve all actions to bind, and then bind them. This is because some bound actions might be changed by earlier rebind ops, if multiple rebinding entries refer to the same binding.

[2017-11-10 11:36] serg-kozhemyakin opened #587 "adblock crashes luakit when trying to load some lists"
adblock fails to load list that contains records like:
$third-party,domain=rusplt.ru
and crashes luakit at start with trace:
[    0.095490] I [core/luah]: Loading rc: /etc/xdg/luakit/rc.lua
[    0.118885] I [lua/adblock]: found 4 filter lists
[    0.181806] E [core/common/lualib]: Lua error: bad argument #1 to 'ipairs' (table expected, got string)
                 Traceback:
                 (1) [

[2017-11-10 13:17] ramboman opened #588 "Adblock not blocking google text ads"
When I search on google, the google text ads are still visible like in the red box:

![](http://www.wordstream.com/sites/default/files/google-ad-screenshot.png "Ads visible in the red box")

The duckduckgo text ads are also not blocked.

These are the lists in the adblock directory in local:
[code]
Before browsing to google, I did `:adblock-reload`.

In the subscriptions file, all the list are ena

[2017-11-10 21:20] aidanholm commented on #587
This workaround looks correct. Can you confirm that it results in third-party connections to sites (e.g. rusplt.ru) being blocked?

[2017-11-11 00:46] aidanholm opened #589 "Automatically download a copy of bookmarked pages"
Helps fight link rot

[2017-11-11 01:07] aidanholm commented on #588
Thanks for reporting; this is going to sound strange, but I'm actually having difficulty getting google/duckduckgo ads to appear at all, even with the adblocker disabled and default config! I'll see what I can do...

Does the page at http://simple-adblock.com/faq/testing-your-adblocker/ indicate adblocking is working? Note that element hiding isn't implemented, so the right-hand box will always sa

[2017-11-11 08:07] ramboman commented on #588
As expected, the adblocker got `Tested OK` and the element hiding got `Not Working`

This might explain why the ads are not blocked since they are elements:
`<div class="_Ak c" id="tads" aria-label="Ads" role="region" data-ved="0ahUKEwiW3Kzmg7bXAhWJJiYKHTglDRgQGAgi">`

I did `inspect element` to get the dom as html and added it as an attachment for further investigation.
[test.txt](https://github.

[2017-11-12 11:51] schvabodka-man commented on #557
Probably it would be nice to have "modeless" experience like emacs, without seperate insert and normal modes

[2017-11-12 11:54] schvabodka-man opened #590 "One window per tab mode"
Can you add some setting to make only one window per tab(many browsers have it)? The case is that with exwm tabs can be easily integrated into emacs as regular buffers.

[2017-11-12 12:04] schvabodka-man opened #591 "Copy hint links"
Hello. Qutebrowser and vimperator has such features as "yank hint link". You open usual link highlighting mode, but instead of going to this link you location, you just copy the link itself. Can this be implemented in luakit?

[2017-11-12 14:53] hippi777 commented on #557
im not familiar with emacs, but copy would be great to work without insert mode :) i had a thought before to make it possible to have binding profiles if its not possible currently... i think it is, and its not my need, but binding favours came up more times while im around luakit (i still didnt migrate, but its good to get some knowledge til that time :D )

[2017-11-12 15:03] ghost commented on #590
I have replaced the unique intance handling in `rc.lua` with this:

At the top of the script:
[code]

At the bottom (after "end user script loading") add this and delete everything else:
[code]

This ensures that whenever you call `luakit <url>` a new window gets created and existing luakit instances are not reused.

Check and compare with [my full rc.lua](https://gist.github.com/xkpd3/561ae06deff

[2017-11-12 15:18] schvabodka-man commented on #590
Ok, thx, but would be great if there somewhere would be documentation with all that stuff, because looking at source code for "help" isn't that great

[2017-11-12 15:20] schvabodka-man commented on #557
@szbnwer emacs pretty much behaves like the normal notepad/wordstart-like editor but with weird shortcuts(by default), unlike vim.

[2017-11-12 15:52] hippi777 commented on #557
thx but ive thought so anyway :D in my gui app (based on tekui, its kawl :D ) im using simply ctrl+whatever for all my bindings, but i could use ctrl+shift+key or whatever more complex bindings, just i still didnt reach that level of need :D this way i wont get into trouble while a textarea have focus, but theres still a chance to alter the bindings like how you would expect tab to behave on an en

[2017-11-13 06:12] serg-kozhemyakin commented on #587
yes, it works. site blocked

[2017-11-13 16:51] mwoz123 opened #592 "Web page dump doesn't work"
When trying to save page to disk error is thrown.

Error (red) log in browser window:

Traceback:
(1) /usr/local/share/luakit/lib/binds.lua:561      in function func
(2) /usr/local/share/luakit/lib/lousy/bind.lua:274 in function [anonymous]
(3) [C]                                            in function xpcall
(4) /usr/local/share/luakit/lib/modes.lua:179      in function activate
(5) /usr/local/sh

[2017-11-13 22:54] aidanholm commented on #591
Yes, we already have it :) that's `;y`

See luakit://help/doc/modules/follow.html under `ex-follow` section for more; there's a few different variations.

[2017-11-13 22:54] #591 closed, assigned to nobody

[2017-11-13 22:57] aidanholm commented on #590
This seems similar to #509; is that what you want @schvabodka-man?

[2017-11-13 23:11] aidanholm commented on #592
Thanks for reporting; fixed it (at b814cb2), should be working now :)

[2017-11-14 07:51] mwoz123 commented on #592
np. Works now. But could you also make it dump images?

[2017-11-14 08:28] aidanholm commented on #592
You probably want to use `:download` for that ... to be honest, I'm not sure why `:dump` exists at all.

[2017-11-14 17:27] mwoz123 opened #593 ":download does not include sub-resources in downloaded file"
Similar problem to #592.
When I `:download` it throws exception.

Error log (in browser) :

Traceback:
(1) /usr/local/share/luakit/lib/downloads.lua:120  in function add
(2) /usr/local/share/luakit/lib/downloads.lua:289  in function func
(3) /usr/local/share/luakit/lib/lousy/bind.lua:274 in function [anonymous]
(4) [C]                                            in function xpcall
(5) /usr/local/sh

[2017-11-14 17:28] #592 closed, assigned to nobody

[2017-11-14 22:47] aidanholm commented on #593
You need to specify the URI, e.g. `:download example.com`. I'll change this to use the current URI by default.

[2017-11-14 23:02] aidanholm commented on #593
Thanks for reporting! `:download` now uses the current page URI by default :)

[2017-11-15 03:12] sevmonster commented on #318
Hi, now that I am starting to migrate from Seamonkey to luakit I just wanted to mention that I figured out why video codecs were not working. Media playback was one of the larger hurdles preventing me from making the switch, so I am very happy to have finally figured out why it isn't working (and it only took an hour of work, too... should have done so earlier, makes me feel stupid since the root

[2017-11-15 10:29] aidanholm commented on #318
Glad to hear you've fixed it. I'll also ask the packagers I know about this; not my area of expertise!

[2017-11-15 13:28] ghost commented on #318
Hi @ds6,

I'm maintaining the `www/luakit` FreeBSD port. On the side, I have a port which fetches luakit from git head. Maybe you want to try this one: https://github.com/xkpd3/freebsd-ports/tree/master/www/luakit-git

The port will also change the xdg location to `/usr/local/etc/xdg/luakit`.

I'll think about a way to inform the user regarding additional dependencies, or maybe I even create a `ma

[2017-11-15 13:40] sevmonster commented on #318
Thanks for the reply, @xkpd3. I hadn't sent you an email yet.

I didn't know there was such a version; as it is I am still compiling luakit myself, so that should be nice.

Setting additional config options may seem to be the optimal way; it's not like luakit takes much time to compile if you decide to disable it. However, I also don't think there is much of a reason to do it like this, since you

[2017-11-15 17:43] mwoz123 commented on #593
Thanks. Now there's no exception, but I did couple tests for `:download` and non of them saved images to disk, only html file exaclty as for `:dump`. Is there a special parameter for download with images?

[2017-11-16 03:37] aidanholm opened #594 "Theme issues causing excessive resizes"
Under some hard-to-pin-down conditions, the text entry widget in the statusbar is a few pixels taller than the statusbar text labels, causing all the webviews to resize whenever the input prompt is shown or hidden. This causes excessive lag on windows with large numbers of tabs.

Likely fix: wrap and use the GTK stack widget, which has built-in support for homogeneous children.

[2017-11-16 03:40] aidanholm opened #595 "Follow hint letters should alternate between left- and right-hand letters"
Should make things faster to type. Likely implementation method: add an `s.interleave` label maker function.

[2017-11-17 12:03] aidanholm commented on #593
Sorry for the slow response. Hm, yeah, not saving external resources is a problem.

Unfortunately the relevant WebKit APIs (`webkit_web_view_save_to_file`), which bundles all external resources into a single MHTML file, have not been wrapped for use by Lua. Adding that should be simple enough, however.

This can probably replace the `:dump` command; it was broken for a while and you're the first p

[2017-11-18 18:59] #351 closed

[2017-11-18 19:05] metasprite opened #599 "Follow mode sometimes breaks in entire tab when trying to follow certain links"
Sometimes, when attempting to follow certain links, something seems to become invalid while the link is trying to be followed, and then follow mode stops generating numbers in that tab. Permanently. The bug is semi-reproducible (it seems kind of random, you may have to try this several times):

1. go to reddit.com, make sure you are logged in
2. try to follow the link to the mail icon in the top r

[2017-11-19 03:33] aidanholm commented on #599
This is two separate issues; the first is a follow mode issue, the second is a more serious logging issue: attempting to append the error message to an open log page is failing, causing another error message.. etc.
Error message reformatted:
[code]

@maskedbyte what version of luakit are you using?

[2017-11-19 12:05] aidanholm commented on #599
Additionally, the slowness you mentioned on IRC seems to be a bug in the freebsd webkit port, as it's present in other webkit-based browsers.

[2017-11-20 11:16] Ygrex opened #601 "Tests failures: test_luacheck, test_website_data, test_image_css"
building from the latest 01eccb0aa77335fb4d15af53f6cdc71192e222fa with:
[code]
fails three tests:
1.
[code]
2.
[code]
3.
[code]

[2017-11-20 12:38] aidanholm commented on #601
I've fixed 1) but can't reproduce 2) or 3)

[2017-11-20 14:08] aidanholm commented on #601
2) is probably just random slowness; 3) I'm not sure about; are you using luajit or regular lua?

[2017-11-20 14:14] aidanholm opened #602 "Add method to dump debug information"
Easy way to submit information useful for debugging. Should include at a minimum:
- luakit version
- webkit version
- Lua vs LuaJIT
- settings dump
- package.path + package.cpath
- compiler if possible

Should be accessible from command-line (`luakit --debug-info`).There's probably much more useful debugging info available from luakit after startup, however, which would be nice to include.

[2017-11-20 15:06] Ygrex commented on #601
I am on regular lua5.1

now building with f7a3a23865bd2adcf8f40de1065ac31040c21c4d gives me the only failure:
[code]

original ones are all gone

[2017-11-20 16:11] lockie opened #603 "Unable to set tablist.always_visible"
Hello!
I'm trying to set `tablist.always_visible`, with this lines in `userconf.lua`:
[code]
...but it gives me the following backtrace:
[code]

I'm using latest luakit from master, version `2017.08.10-217-gf8b566c8`.

[2017-11-20 16:13] aidanholm commented on #603
Hi!

Use `settings.tablist.always_visible = true` instead; the `settings.set_setting()` API is for modules (docs could be clearer about this...)

[2017-11-20 16:19] aidanholm commented on #603
Hm, also, that error means the setting key doesn't exist yet (i.e. the tablist module hasn't been loaded yet)

[2017-11-20 16:24] lockie commented on #603
All right, got it. I solved it with
[code]

Thanks!

[2017-11-20 16:24] #603 closed, assigned to nobody

[2017-11-20 20:49] jeffmaner opened #604 "Windows Subsystem for Linux PKG_CONFIG_PATH Make Errors"
I'm sure this is a rookie mistake; but the Help and Support page told me to ask here.

I was thrilled to see the possibility of running Luakit web browser on Windows 10 using WSL. I've tried on two different machines, now, and both machines complain of the same issue. None of the dependencies are found. For each dependency I'm given the suggestion of adding the correct path to the PKG_CONFIG_PATH

[2017-11-20 22:38] hippi777 commented on #602
good idea, i think compiler info can be obtained in compile time easily for luakit, and for other stuffs elf header containst this info iirc

[2017-11-21 08:29] Ygrex commented on #601
thank you, fixed in f8b566c8ee533a23f206cd57357cdee20fda3642

[2017-11-21 11:32] aidanholm commented on #604
Hi! No problem, questions are always welcome here :)

I've never used WSL, so I'm not sure where pkgconfig files would live. @xkpd3, any ideas?

[2017-11-21 11:42] aidanholm opened #605 "Improve status-bar download indicator"
- progressbar or percentage
- indicate number of completed downloads

[2017-11-21 11:49] aidanholm commented on #602
Build details like that can be compiled into `buildopts.h`, yeah

[2017-11-21 11:50] aidanholm commented on #601
Ok, great!

[2017-11-21 11:50] #601 closed, assigned to nobody

[2017-11-21 13:42] hippi777 commented on #605
+1 for percentage, small cost is small cost, there are much better places for invest more shine

[2017-11-22 13:26] jeffmaner commented on #604
It turns out that all I had to do was `sudo apt-get install luakit` to get luakit up and running in WSL. Who'd have thought?! Now I'm stuck with my original curiosity of how the heck luakit can run in Windows 10 using WSL. As one would suspect, I'm told `(luakit:20159) Gtk-WARNING **: cannot open display:`. But it looks like others have made it work. Hopefully they'll let me know what I'm missing!

[2017-11-22 16:37] aidanholm commented on #604
So luakit still won't start? You may want to double-check the version with `luakit --version`

[2017-11-22 16:47] jeffmaner commented on #604
Interesting.

[code]

A little less informative than I expected. Lol.

Oh, wow! I still have the stdout from setup, including:

[code]

[2017-11-22 17:43] aidanholm commented on #604
I'd guess you've inadvertently installed the older version, which is what ships in the WSL version of ubuntu. I can't remember the appropriate command for apt/dpkg, but have you verified that the pkg-config information is included in the packages you've installed? Also, have you updated with `do-release-upgrade`?

[2017-11-22 19:22] jeffmaner commented on #604
I'm not sure how to verify that the pkg-config information is included in the packages I've installed. It's been too many years since I was linux-fluent.

I have run `do-release-upgrade` to upgrade to xenial.

I've run `apt-get upgrade` and `apt-get check`. The upgrade did a bit of work. The check found no problems. The end result is still the same. Ugh.

[2017-11-23 03:00] aidanholm commented on #604
`dpkg -L foo` will list files instaled for `foo`; you'll probably want to pipe the output into `grep -F .pc' to filter to pkg-config files.

Possibly a silly question, but have you `apt-get install`-ed `pkg-config`?

[2017-11-23 13:45] aidanholm commented on #579
@ramboman Thanks for reporting this! It's been bugging me too, but is all fixed now. Sorry for the delay in fixing this one.

[2017-11-23 13:45] #579 closed, assigned to nobody

[2017-11-24 22:05] skingtn opened #607 "Settings"
Great work!  Possible settings issues below.  Current version, standard modules and no settings file.
1.  Using settings.foo.bar API in a userprefs file, changes to some settings don't seem to take.  A call to get_setting before and just after the change returns original default value (and identifies default as source) in either case.  For other settings, the change does go through.  As example ``

[2017-11-25 07:50] aidanholm commented on #607
Hi, and thanks for all the great questions!

1. Thanks for reporting this; it was a bug, now fixed!
2. You can run `:lua require('settings').foo.bar = baz`; I'm considering making accesses to non-existent global variables in console fall back to loaded modules, so you could just do `:lua settings.foo.bar = baz`.
3. Log level could be a little complicated to expose a settings interface for, as you

[2017-11-25 14:55] aidanholm opened #608 "Support non-latin characters for hinting"

[2017-11-25 15:23] aidanholm commented on #608
Fixed except for `interleave()` (#606)

[2017-11-27 00:19] skingtn commented on #607
1.  Works perfectly, thanks.
2.  That's a good solution and would add some convenience, but require('settings') isn't much to ask.  I just didn't know how to do it.
3.  I think this one is my problem.  Info level is great for :log, just glib logger sending to stderr is some trouble so I need to control stderr better.  But if you were going to make logging more customizable, I'd vote for ability to

[2017-11-27 00:19] #607 closed, assigned to nobody

[2017-11-27 01:45] hippi777 commented on #607
hi there :)

for the log if simply print is used print can be overridden with anything. in my app im using my out() function cuz graphical live coding needed an own output but later ive realized i can use that for any kinda purpose, i can put behind that print for terminal or use it as its now for graphical output or ill be able to use it for server output... if logging comes together with anythin

[2017-11-27 05:09] aidanholm opened #609 "Transparently access loaded modules from :lua"
E.g. `:lua settings.foo.bar` should be equivalent to `:lua require("settings").foo.bar`.
Necessary because we try not to trash the global namespace

[2017-11-27 05:10] aidanholm opened #610 "Improve follow mode label maker interface/documentation"

[2017-11-27 07:14] #610 closed, assigned to aidanholm

[2017-11-27 07:15] #609 closed, assigned to aidanholm

[2017-11-27 15:31] jeffmaner commented on #604
Ooh! That's a neat one. Gods, I do love linux, and hate that I've been consigned to a competing OS for so many years that I've lost so much of my linux know-how. I ran `dpkg -L luakit`. Cool! But when I piped it to `grep -F .pc`, it came up empty.

Not a silly question at all! I appreciate you asking questions that should be obvious to experts, because they're not necessarily obvious to rusty dino

[2017-11-27 15:47] aidanholm commented on #604
Luakit won't have any `.pc` files, as it doesn't provide anything that can be linked into other software: you need to check the dependencies :) for example, `dpkg -L libsqlite3-dev` (or whatever the sqlite package is called).

Unfortunately I don't have access to a Windows system to try this out on, but perhaps this (https://askubuntu.com/questions/897846/cant-run-gtk-on-wsl-display-error) is your

[2017-11-28 02:44] amosbird commented on #578
This may be related to some webkit bug. Can you try `epiphany` to see if login works fine there?

[2017-11-30 08:24] #608 closed, assigned to nobody

[2017-11-30 08:30] aidanholm commented on #587
Merged! Sorry it took a while... forgot about this issue :(

[2017-11-30 08:30] #587 closed, assigned to nobody

[2017-11-30 14:54] #595 closed, assigned to nobody

[2017-12-01 16:03] jeffmaner commented on #604
I finally had a moment to install Xming and try running Luakit. It works! This is so cool. Thanks for your help!

I'm not sure where this leaves the issue of the PKG_CONFIG_PATH thing. I feel like this particular issue should be closed, as my over-all goal--running Luakit on Windows--has been achieved. But because leaving it open might help in the struggle to figure out the config problem, I'm not

[2017-12-01 18:46] aidanholm commented on #604
Great to hear! I'll close this; it can always be reopened if needed.

Just to be sure, you should double-check that you have the new version: the version number is displayed in the top-left corner of `luakit://help/`. If that page displays a big list of keybindings instead, you have the old version.

[2017-12-01 18:46] #604 closed, assigned to nobody

[2017-12-02 10:37] aidanholm commented on #604
@jeffmaner Actually, just had a thought: your issue might be caused by not having installed the dev packages for the dependencies. If you just installed the regular packages for sqlite, etc. then that won't work for compiling.

[2017-12-02 12:40] aidanholm opened #612 "Clean up module use of settings user API"
Accessing `settings.foo.bar` is a user API, not intended for modules. In places like `lib/window.lua`, `settings.get_setting()` should be used instead.

[2017-12-02 17:52] aidanholm opened #613 "Add window.default_search_engine option"

[2017-12-04 23:35] arcnmx opened #614 "Unable to set table settings"
In rc.lua:
[code]

produces...

[code]

[2017-12-05 05:19] McSinyx commented on #613
I've created a PR (#615) to solve this. Thanks for giving this opportunity to the community to improve our skills.

[2017-12-05 08:21] aidanholm commented on #614
Fixed! Sorry about that!

[2017-12-05 08:21] #614 closed, assigned to nobody

[2017-12-05 12:13] sprnza opened #616 "search_open and percent-encoding issue"
Hi there!
Just found out, that search_open() from window.lua fails if a custom engine link contains percent-encoding characters. For instance if I try to find a wiki.archlinux.org search string I get `https://wiki.archlinux.org/index.php?search=test&title=Special%3ASearch&go=Go` (for keyword "test"). If I copy and paste it to rc.lua I get errors from string.format() function. Replacing %3A with `:

[2017-12-05 12:19] aidanholm commented on #616
This is a side effect of how search engines work: they're a format string for a `string.format()` call, which means that `%` has special meaning. I'll add a pre-processing step that escapes everything but the critical `%s`

[2017-12-05 12:21] sprnza commented on #616
[code]
Solves the issue

[2017-12-05 12:26] aidanholm commented on #616
That will work for hex escapes, but will break if the hex digits are missing or invalid for some reason. I'd rather just fix the formatting issue, like so:
[code]

[2017-12-05 13:04] aidanholm commented on #616
Actually, that's not going to work, because it doesn't allow inserting a literal '%s', and there needs to be some level of compatibility escaping... urgh

[2017-12-05 15:55] jeffmaner commented on #604
Brilliant, @aidanholm! That does seem to have been my problem. Once I downloaded all the dev packages for the dependencies, I was able to build. Almost. I got an error at what looks like the end.

[code]

I looked within `luakit/doc/apidocs/` and there is, indeed, no `index.html`.

[2017-12-05 16:24] aidanholm commented on #604
Great! I'll update the website docs, as it's not very clear at present.

I'm pretty sure the culprit is the `:` in the filename, which DOS doesn't like... I'll see what I can do to fix this.

In the meantime, if you're up for some makefile hacking, you can just disable docs generation. To do this, remove `apidoc` from line 20 (beginning with `all: `), and remove lines 100--103 (the lines under `in

[2017-12-05 16:45] jeffmaner commented on #604
After your suggested edits, `sudo make install`ing, and then restarting bash, success! :)

[2017-12-05 17:03] aidanholm commented on #604
:tada:

[2017-12-05 17:36] aidanholm opened #617 "Add widget enum properties to index/newindex"

[2017-12-05 17:38] aidanholm commented on #613
Perfect! Thanks :)

[2017-12-05 17:38] #613 closed, assigned to nobody

[2017-12-05 17:44] aidanholm opened #618 "settings: don't save settings file with every setting change"
Causes excessive writes when editing settings on `luakit://settings/`

[2017-12-05 18:50] ghost commented on #604
I did not look into this earlier, sorry. Yes, linux on windows is a ubuntu, so the ubuntu (debian) install instruction apply aside from the special windows requirements (an up to date WSL that's no a deadly old ubuntu and an xserver like Xming, or Exceed for example).

[2017-12-06 09:39] Ygrex commented on #372
wiki refers to this issue from the home page
https://github.com/luakit/luakit/wiki
with «This wiki is currently out of date! (Issue #372)»
since this issue is closed, can wiki be considered up-to-date now?

[2017-12-06 10:01] aidanholm commented on #372
The wiki is still out of date: I just cleaned up and merged some of the pages into the luakit docs. Everything else is still outdatd.

[2017-12-06 12:16] #594 closed, assigned to aidanholm

[2017-12-06 16:16] McSinyx commented on #616
I believe that this is fine as `%s` should never appear in the URI as specified in RFC 3986: following the `%` should always be a 2-digit hex number and [`%` itself must be escaped](https://en.wikipedia.org/wiki/Percent-encoding). If there is a second `%s`, that'll likely to be because of user's typo or the carelessness of the search engine dev, which is none of our problem.

But I'd like to comme

[2017-12-06 17:16] arortell opened #619 "Setting keybindings"
very new to luakit. I came from qutebrowser. I cannot figure out how to set keybindings. I copied the rc.lua file to .conf/luakit tried to set them in that. Created a user userconf.lua file set require “userconf” in rc.lua and set them in that. I copied binds.lua to the .conf/luakit directory and set them in that . Then I read somewhere to set them in modes.lua and I set them in that. None of that

[2017-12-06 18:33] aidanholm commented on #616
That's a good point. Either way, any change to this system is going to break compatibility, so the current method should be fine. I agree that your version is _much_ nicer; thanks!

I think the API break can be resolved by falling back to the old `string.format()` code if the search engine contains `%%`, with a one-time warning.

[2017-12-06 18:47] aidanholm commented on #619
Hi! Sorry you've been having difficulty. Unfortunately there's still some outdated documentation floating around and the up-to-date documentation isn't always as clear as it could be :(

There's no need to include `binds.lua` or `modes.lua` in your `~/.config/luakit/` directory. In fact, they will be ignored, as there are already core modules with these names that are already loaded! I plan to sho

[2017-12-06 20:20] aidanholm opened #620 "Add warning for deprecated files in config dir"
E.g. binds, modes, others...
Shouldn't warn if config directory has higher priority than system lib dir in `package.path`.

See #619

[2017-12-07 00:19] arortell commented on #619
Thank you so much for your quick response. Worked perfectly. Once again I thank you for your hard on this incredible browser. I love it. I just hate when people get on here demanding options, bitching about small bugs and the way THEY think this should be. Some people just don’t understand exactly how much work goes into something like this. Thank you.

[2017-12-07 12:48] aidanholm commented on #619
You're very welcome! I'm glad you're enjoying luakit! Don't worry about asking questions; that's actually a good thing, as it lets me know which bits need more work :)

[2017-12-07 15:31] tawsi-melek commented on #550
@aidanholm, I have the same exact issue, but unlike @nmeum I'm not on Alpine Linux, but rather on Void Linux.
Both Alpine and Void use Musl as libc instead of Glibc, so that may be somewhat related to the problem, I guess.
I don't think webkit2gtk is to blame, since I can install things like surf and they work.
On my Arch partition, luakit works fine.

[2017-12-07 17:48] aidanholm commented on #550
I'll try reproducing on a VM I guess

[2017-12-07 18:51] #612 closed, assigned to nobody

[2017-12-07 19:32] aidanholm commented on #616
Fixed at df794e4; thanks for reporting, and let me know if there's any more problems :)

[2017-12-07 19:32] #616 closed, assigned to nobody

[2017-12-07 22:13] myf opened #623 "middle click becomes "sticky""
when i middle click a link to open it in a separate tab, the action becomes "sticky", that is, behaves like a single click and drag without releasing the mounse button.

[2017-12-08 11:21] n73red opened #624 "Play Embedded Video in External Player."
for old version
[code]
not working,
how did for new version?

_Edited by A.H. to fix code formatting_

[2017-12-08 11:47] aidanholm commented on #624
The difference is in how keys are bound now. You can add the following code to `rc.lua`:
[code]
Hope that helps!

[2017-12-08 12:54] n73red commented on #624
anyway dont work, typing hot V in adress - so dont should be

[2017-12-08 14:02] aidanholm commented on #624
Hm, is there any error message? Most of what this does is with the external command `urxvt ...`; the only thing the lua does is get the webpage address and pass it to the external command.

[2017-12-08 14:50] n73red commented on #624
earlier when you pressed "v" - the command was executed, now "v" is simply written in the address bar, luakit does not understand that this is a hotkey, no command is sent to urxvt, no error messages - the usual situation is the user entered the "v" symbol. .
I can not there have registered? I registered in binds.lua which is located in ~ / .config / luakit

[2017-12-08 16:04] aidanholm commented on #624
Ah: the `binds.lua` and `modes.lua` files have been made built-in modules, so files with that name in `~/.config/luakit/` won't do anything.

Instead, you should add the code above to your `~/.config/luakit/rc.lua` file, just before the `-- End user script loading --` comment block.

[2017-12-08 18:20] fiziologus opened #625 "Error while open bookmarks/history page"
[code]
With empty bookmarks/history list.

_Note: Edited by A.H: add code formatting_

[2017-12-08 19:05] n73red commented on #624
binds.lua and modes.lua     - delete
Instead, you should add the code above to your ~/.config/luakit/rc.lua file, just before the -- End user script loading -- comment block      - did
it still does not work, and the picture has not changed, all the same as the bud that typed the "v" character in the address bar, luakit does not understand your code and there are no error messages

[2017-12-09 02:04] n73red commented on #624
Instead, you should add the code above to your ~/.config/luakit/rc.lua file, just before the -- End user script loading -- comment block
[code]

working!!! #

[2017-12-09 03:50] #624 closed, assigned to nobody

[2017-12-09 09:10] aidanholm commented on #624
Glad it's working :) If you have further stuff you want to migrate, the migration guide (https://luakit.github.io/docs/pages/04-migration-guide.html) might help; but feel free to ask questions as well!

[2017-12-09 09:31] aidanholm commented on #625
Thanks for reporting! I'm guessing that you are on version 2017.08.10

This is a duplicate of #466, and is already fixed in `develop`. To get things working, you could either install a 2017.08.10 package that uses LuaJIT (if one is available), or build from the latest develop with either regular lua or LuaJIT.

[2017-12-09 12:52] aidanholm opened #626 "Tracebacks should include values of local variables"
- possible privacy concern if URIs/bookmark/history details are included in tracebacks
  - it's difficult to detect which variables this applies to from a generic `traceback()`
- difficult to display some variables
  - functions (but these won't usually be relevant)
  - tables need to be summarized in some fashion

[2017-12-09 19:05] fiziologus commented on #625
Yes. I not like unstable (bugs, nerves and other stuff).

I change more easy way: just apply https://github.com/luakit/luakit/commit/c9b4f92abc273022637fcb4790ff6f7fd35cd36d. Now all work. Thanks for help. Closed.

[2017-12-09 20:52] sevmonster opened #627 "`loading_bg' is unused"
[code]
It would also be nice to mention in the theme config that some of the colors are not used by default, i.e. what do `ntheme` or `loading_fg` even do? With `tab_favicons` loaded, it removes `{index_fg}` from the label format string, which is the only thing to use these colors.
IMO I prefer the tabs with the index on them _with_ favicons: `require("lousy.widget.tab").label_format = '<span fore

[2017-12-09 21:11] hippi777 commented on #625
hi there! :)

is that a data loss or just an app fail? im deeply afraid of data loss, cuz im doing always much researches with a s#itload of tabs opened like now i have more than 600 :D my best guess to make sure not getting into this kinda trouble is to save the db before and after run the app via a supervisoir, however id like to ask how much possibility exists around lk to get this unwanted poi

[2017-12-10 11:13] aidanholm commented on #625
App failure: the bookmarks + history pages need to call Lua from the JS running on the page, which is where the bug was. So it's only a display bug, not a corruption issue.

Data loss... luakit saves a recovery session periodically: if you absolutely need to make sure you can recover your work, I'd use an inotify hook to copy each version of the recovery session file somewhere safe. Even if the fi

[2017-12-10 11:29] aidanholm commented on #627
Thanks for posting this. The problem here is that theme keys are usually ungreppable. The reason is that a module that uses a theme key `foo_bar_baz` will check the theme for `foo_bar_baz` first, then `bar_baz`, and finally `baz`. (it is true that `loading_bg` is unused).

This is a huge issue with the current system. It creates unpredictable bahavior, and makes it impossible to compose multiple q

[2017-12-10 13:58] sprnza opened #628 "Proxy + Tor issue"
Hi there!
I've got proxy(squid) + privoxy + tor set up for openning some urls blocked in my country. Luakit fails to open these URLs
[code]
What could be wrong? Epiphany works fine btw.

verbose output:
[code]

[2017-12-10 17:33] aidanholm commented on #628
"Malformed Data" means an issue with the data the server sent. I get this error occasionally just from regular browsing; seems to be some intermittent webkit networking bug.

Is it a consistent error? Are you running luakit/epiphany through something like `tsocks`? Can you reproduce the issue accessing something on localhost via your proxy?

[2017-12-10 18:56] sprnza commented on #628
Ooops sorry, epiphany doesn't work either. So it's webkit's issue then.

[2017-12-10 18:56] #628 closed, assigned to nobody

[2017-12-10 23:19] hippi777 commented on #625
thx! ill keep this msg for myself, so when ill reach the point of migration, then ill go deeper and come back in case of need :)

[2017-12-11 09:20] #625 closed, assigned to nobody

[2017-12-11 16:15] McSinyx commented on #405
I'm leaving the list of exported colors by GTK+ 3 [here](https://git.gnome.org/browse/gtk+/tree/gtk/theme/Adwaita/_colors-public.scss) for future reference. Example for colors (in the currently default theme Adwaita) are defined [here](https://git.gnome.org/browse/gtk+/tree/gtk/theme/Adwaita/_colors.scss).

[2017-12-12 04:22] foras77 opened #629 "Can't mark the checkbox"
Good day!

Can somebody help me with that trouble please.
I can not to mark the checkbox in that website:
www.spartex.kz
![screenshot - 12 12 2017 - 10 18 32](https://user-images.githubusercontent.com/34466808/33867300-f3195262-df25-11e7-8a6c-5c3252cb2f0a.png)
The checkbox marked by red arrow.

I click on this checkbox but nothing happens...
So i can't save my account into this website.
Of course,

[2017-12-12 05:15] McSinyx commented on #629
I can't reproduce the bug. Could you please provide futher infomation on you OS, webkit, luakit and lua version?

Here is the direct link in the screenshot to save others some time typing: https://www.spartex.kz/personal/order/?login=yes

[2017-12-12 06:00] foras77 commented on #629
I can not to do it exactly by that link you stated.  OS Xubuntu 14.04:
Description:	Ubuntu 14.04.5 LTS
Codename:	trusty
luakit 2012.09.13-r1-8
Webkit 2.4.10-0ubuntu0.14.04.1
Lua... Afraid that installed two versions together:
5.1.5-5ubuntu0.1
and
5.2.3-1

[2017-12-12 13:30] McSinyx commented on #629
I'm afraid that the Luakit version you're using is too outdated. Try compiling the [current latest release](https://github.com/luakit/luakit/releases/tag/2017.08.10) or the `develop` branch and see if your problem is fixed. Please note that it's likely you'll need to compile WebKit2 to match at least version 2.16 as stated in the release I linked. (Currently the devs are working to [repackage the

[2017-12-12 14:03] aidanholm commented on #629
Normally you wouldn't have to compile webkit2gtk (which takes hours), just luakit (less than a minute); but you're running on an old version which probably won't have up-to-date packages for webkit2gtk. So you could also consider updating to 16.04 or later, which has packages for the latest webkit2gtk.

[2017-12-12 14:04] aidanholm commented on #623
This sounds like a bug, but I'm having trouble reproducing this myself. What button number is your middle click? For some reason, I'm having weird issues with button 2, but it might just be my system.

[2017-12-14 02:27] n73red commented on #629
Developer when the new version appears in the repositories debian sid?

[2017-12-14 03:29] aidanholm commented on #629
After the next release (v2.0.0)

[2017-12-16 08:57] aidanholm opened #630 "Improve :userscripts menu"
Should be made more like `:styles-list` menu:
- [x] colour coding
- [x] add state column
- [x] allow enabling/disabling userscripts
- [x] sort by state
- [x] add e-to-edit keybinding
- [x] o/t/w key bindings can probably be deleted

[2017-12-17 13:39] hippi777 opened #631 "closing the save window closes the browser"
hi there! :)

im still using that 1st installation dated back somewhere to summer, so maybe its already resolved, however its easy to check if reproducible:

ctrl+shift+d and enter opens saving window
exiting it with the X button closes the entire browser (pages remains when reopening, i dunno if ive modified the rc for that or not but exiting with :wq ; save works fine)

ive just got an error rep

[2017-12-17 15:05] groolot commented on #540
To achieve a better integration into Debian archive, I finally decided to start from version v1.0 inside the develop branch.

The package is waiting for mentor: https://mentors.debian.net/package/luakit2

[2017-12-17 15:06] #532 closed, assigned to groolot, aidanholm

[2017-12-17 15:06] #544 closed, assigned to mason-larobina, groolot

[2017-12-17 15:45] groolot commented on #363
This logo will be use inside Debian package.

![luakit](https://user-images.githubusercontent.com/632571/34081162-833af1bc-e349-11e7-95fc-dc464729f5f4.png)
[luakit.zip](https://github.com/luakit/luakit/files/1565805/luakit.zip)

[2017-12-17 15:53] #538 closed, assigned to groolot

[2017-12-17 15:54] groolot commented on #535
This is not mandatory, so we can forget about it.

[2017-12-17 15:54] #535 closed, assigned to groolot

[2017-12-17 15:54] halocaridina opened #632 "Userscripts ignore @match directive"
Hi Aidan,

Hope this finds you well and your continued work on luakit is greatly appreciated.

I searched the previous issues as well as the web and didn't find any solution(s) to an issue that I'm running across with getting any userscripts to function in luakit (2017.08.10-266-ge8899c96 from the AUR). Found a 2014 report similar to what I'm seeing ([https://bbs.archlinux.org/viewtopic.php?id=181

[2017-12-17 15:56] groolot commented on #539
This is hardened by the Debian compile flags that are defined inside `debian/rules`:
[code]

See fb9e42118

[2017-12-17 15:56] #539 closed, assigned to groolot

[2017-12-17 15:59] groolot commented on #543
Due to the code modified against the packaged version, we have to use the embedded one for now.

[2017-12-17 15:59] #543 closed, assigned to groolot, aidanholm

[2017-12-18 08:51] aidanholm commented on #363
@groolot that looks like an older variant: the up-to-date one is https://github.com/luakit/luakit/issues/363#issuecomment-340164705

Also I haven't uploaded the SVG yet: I remember there are some minor touchups I need to do first

[2017-12-19 10:34] aidanholm commented on #632
Hi Halocaridina,

Thank you! Hope you are well too!

The `webview.enable_javascript` shouldn't matter here: userscripts are run regardless of whether the page's JS is enabled or disabled. The `o`, `t`, and `w` keys don't work because the userscript doesn't specify a home page, but I can't imagine that this is a commonly used function.

The problem is caused by the use of `@match` instead of `@incl

[2017-12-19 15:18] McSinyx commented on #405
@aidanholm I'm researching a solution for this and have a few question to be sure I'm going in the correct direction:

1. Does this mean `~/.config/luakit/theme.lua` will also be deprecated, or just that fallback file?

2. I suppose *the ability to change the theme at runtime* can only by achieved by make [lousy.theme.index](https://github.com/luakit/luakit/blob/f1343f05094e4b46a0d76817a9f142bc915

[2017-12-19 17:36] aidanholm commented on #405
1. Yes, although users' existing themes will be transparently converted into CSS themes and loaded on startup. The default theme would be in CSS.
2. `lousy.theme` won't be used any more. Instead of manually loading values from `theme` and then setting widget attributes, the new system will add classes to various widgets, which will be referred to in the CSS theme. E.g. a tab widget might have `cur

[2017-12-19 17:51] aidanholm commented on #632
Fixed!

[2017-12-19 17:51] #632 closed, assigned to aidanholm

[2017-12-19 18:01] aidanholm commented on #405
Actually, from the GTK end, it may be as simple as calling `gtk_style_context_set_path()` on each widget's GtkStyleContext. This would still need to be wrapped into a sensible API, and widget paths would have to be adjusted automatically.

BTW @McSinyx if you have questions, feel free to ask in IRC as well :)

[2017-12-20 00:40] halocaridina commented on #632
Hi Aidan,

Thanks for identifying the specific bug and fixing it so quickly. I can confirm that `luakit 2017.08.10-296-g20eb3aa0` from the AUR now handles userscripts correctly.  Awesome!!

Thanks also for the clarifications on the other questions/comments that were brought up. These are also much appreciated,

Thanks again and have a happy and safe holiday season,

Halocaridina

[2017-12-20 07:17] aidanholm commented on #632
Glad it works! Happy holidays to you as well!

[2017-12-20 15:38] zappathustra opened #633 "Wikipedia takes ages to load."
And that's not the case with Firefox or Chromium. At first I thought it was Wikipedia's servers' fault, but it's not. Luakit just takes forever to load the page, stuck at 10% for a long time.

[2017-12-20 16:18] aidanholm commented on #633
Any particular page? My wikipedia is loading fine...

[2017-12-20 16:47] zappathustra commented on #633
Any page. See this screencast (Luakit is the leftmost window, then come Chromium and Firefox):

![screencast](https://user-images.githubusercontent.com/1642300/34218140-a86f0c82-e5ad-11e7-8ef3-73ff45baa387.png)

[2017-12-20 16:57] aidanholm commented on #633
Could you check to see if you can reproduce that with epiphany?

[2017-12-20 17:43] zappathustra commented on #633
Epiphany doesn't load Wikipedia either. Nor do Midori and uzbl. So I guess it's a webkit issue?

[2017-12-20 21:14] n73red commented on #633
duckduckgo search was by default in the old version, in the new version another search by default, did you switch search or use the old version of the browser?

[2017-12-20 21:24] zappathustra commented on #633
I actually never use DuckDuckGo, I enter addresses by hand. I just used it for the demo. And my luakit was compiled from AUR today, so I guess it's up to date.

No matter how you jump to Wikipedia, it doesn't load.

[2017-12-21 00:09] n73red commented on #633
aur - a comprehensible arch, debian sid - I'm going from here from github, it's even more important - wikipedia opens 100%

[2017-12-21 06:53] zappathustra commented on #633
I'm not sure I understand what you mean, but the Luakit package on AUR is built from Github. AUR only contains recipes to build packages, not packages themselves, so it's not like Debian Sid.

[2017-12-21 09:45] aidanholm commented on #633
Probably a webkit issue, yeah; @zappathustra, what version of webkit are you on?

[2017-12-21 11:06] aidanholm commented on #630
Done at 90cfbc55

[2017-12-21 11:06] #630 closed, assigned to nobody

[2017-12-21 16:44] zappathustra commented on #633
My webkit is webkit2gtk 2.18.4-1, updated a few minutes ago because I thought the new version might have fixed the problem, but no.

[2017-12-22 20:49] myf commented on #623
button 2 in my case as well @aidanholm

[2017-12-25 11:48] zappathustra opened #636 "Youtube is a blank page."
After Wikipedia, it's YouTube that's acting weirdly now: nothing loads, except the logo:

![youtube](https://user-images.githubusercontent.com/1642300/34339206-e213abca-e970-11e7-94ff-1d033cdc8cee.png)

The menu icon isn't clickable. The source seems pretty normal, so I guess it's a rendering issue.

If I go to a video through an external link, the video loads, but that's all:

![youtube2](https:/

[2017-12-25 12:14] JR1994 commented on #636
I just tested and YouTube loads fine for me.

On Mon, Dec 25, 2017 at 4:48 AM, zappathustra <notifications@github.com>
wrote:

[2017-12-25 13:11] aidanholm commented on #636
Have you set a custom useragent for youtube? I've seen it cause those symptoms

[2017-12-25 13:21] zappathustra commented on #636
Indeed, with the useragent back to default, everything is ok. Sorry I didn't make the connection!

[2017-12-25 13:38] McSinyx commented on #405
I'm so sorry for slow response. I have tried to study the code but at this moment writing anything applicable in C is overkill to me. Thanks a lot for your time and detailed explaination.

[2017-12-25 13:59] aidanholm commented on #636
No problem! It's a race condition, really: the user agent is changed when the load status changes to provisional (or redirected), but the actual network request is made from a separate thread. To properly fix this, user agents would have to be set from a `send-request` hook in `webview_wm.lua`

[2017-12-25 15:41] zappathustra commented on #636
For the record, I didn't change the UA only for YouTube, it's a global setting in my rc file.

I did that for one website that warns me with "Your browser is not blah blah, click here if you wish to continue anyway", which is quite annoying.

Anyway, it made me realize that I change settings with:

`settings.<option> = <value>`

instead of

`settings.set_setting(<option>, <value>)`

Is there anyth

[2017-12-25 17:43] aidanholm commented on #636
Hm; ok that might be a separate bug then, if it's not a domain-specific rule.

That's the API you're supposed to use. The `set_setting()` function is for modules to use and has different behavior; this should probably be better-documented.

You can do `settings.on["example.com"].foo.bar` to set per-domain settings

[2017-12-28 18:23] akegalj commented on #636
I am very new to luakit. Can somebody give me pointers how this can be fixed ?

[2017-12-28 20:48] aidanholm commented on #636
@akegalj Hi and welcome!

This issue is caused by having set a custom user agent: either in your rc.lua file, or from the luakit://settings/ page. In luakit://settings/, if the input box for `webview.user_agent` is empty, it will use the default, which should fix the issue. If the `webview.user_agent` setting is greyed out and the inputbox cannot be edited, that means you've customized `webview.us

[2017-12-28 23:06] akegalj commented on #636
@aidanholm hey :)

Hm, then thats strange because `user_agent` is empty and editable. Also nothing is set up in console (see pic)

![look](https://user-images.githubusercontent.com/2461951/34425404-cf3cf692-ec2b-11e7-9167-f6fff2ff988f.png)

Also, seems like `rc.lua` doesn't have custom setting nither:
[code]

Am I doing something wrong?

[2017-12-29 06:45] aidanholm commented on #636
If you use the default config (`luakit -c /etc/xdg/luakit/rc.lua`) does the problem persist?
What's the output of this command? `:lua w:notify(luakit.version.." / "..luakit.webkit_version)`

[2017-12-29 14:10] akegalj commented on #636
version:
![look](https://user-images.githubusercontent.com/2461951/34438829-c3a5fc92-eca9-11e7-8e73-59bff45de0e7.png)

yes, problem persist. Looks like I am using version that is ahead of released version (by commit hash?) - maybe there is some regression in my version. I can downgrade and compile  lower version to fix it.

This is not blocker to me though as I can follow instructoins and workarou